<div class="container-fluid mt-2">
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Supplier Master</h3>
                    </div>
                </div>
            </div>
            <form [formGroup]="suppliertypeForm" (ngSubmit)="newSupplierType()">
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Supplier Code</label>
                        </div>
                        <span *ngIf="buttonId == true ">
                            <div class="inputdiv" *ngFor="let code of MaxId">
                                <input placeholder="00{{code.supplierid+1}}" class="form-control" type="text" readonly
                                    required>
                            </div>
                        </span>
                        <span *ngIf="buttonId != true">
                            <div class="inputdiv">
                                <input formControlName="supplierid" class="form-control" type="text" readonly required>
                            </div>
                        </span>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Supplier Name<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid':suppliertypeForm.controls.supplier_name.touched && suppliertypeForm.controls.supplier_name.errors}"
                                formControlName="supplier_name" class="form-control" type="text" required>
                            <span class="text-danger"
                                *ngIf="suppliertypeForm.controls.supplier_name.touched && suppliertypeForm.controls.supplier_name.errors">
                                <div
                                    *ngIf="suppliertypeForm.controls.supplier_name.touched && suppliertypeForm.controls.supplier_name.errors.required">
                                    Supplier Name is required
                                </div>
                                <div
                                    *ngIf="suppliertypeForm.controls.supplier_name.touched && suppliertypeForm.controls.supplier_name.errors.pattern">
                                    Use only letters(A-Z)
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Mobile Number<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input (keypress)="numberOnly($event)"
                                [ngClass]="{'is-invalid':suppliertypeForm.controls.mobile_number.touched && suppliertypeForm.controls.mobile_number.errors}"
                                formControlName="mobile_number" maxlength="10" minlength="10" class="form-control"
                                type="tel" required>
                            <span class="text-danger"
                                *ngIf="suppliertypeForm.controls.mobile_number.touched && suppliertypeForm.controls.mobile_number.errors">
                                <div
                                    *ngIf="suppliertypeForm.controls.mobile_number.touched && suppliertypeForm.controls.mobile_number.errors.required">
                                    Mobile number is required
                                </div>
                                <div
                                    *ngIf="suppliertypeForm.controls.mobile_number.touched && suppliertypeForm.controls.mobile_number.errors.pattern">
                                    Use only numbers
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">GST NO<span class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid':suppliertypeForm.controls.gst_no.touched && suppliertypeForm.controls.gst_no.errors}"
                                formControlName="gst_no" class="form-control" type="text" required>
                            <span class="text-danger"
                                *ngIf="suppliertypeForm.controls.gst_no.touched && suppliertypeForm.controls.gst_no.errors">
                                <div
                                    *ngIf="suppliertypeForm.controls.gst_no.touched && suppliertypeForm.controls.gst_no.errors.required">
                                    GST NO is required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Balance<span class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input (keypress)="numberOnly($event)"
                                [ngClass]="{'is-invalid':suppliertypeForm.controls.balance.touched && suppliertypeForm.controls.balance.errors}"
                                formControlName="balance" class="form-control" type="text" required>
                            <span class="text-danger"
                                *ngIf="suppliertypeForm.controls.balance.touched && suppliertypeForm.controls.balance.errors">
                                <div
                                    *ngIf="suppliertypeForm.controls.balance.touched && suppliertypeForm.controls.balance.errors.required">
                                    Balance NO is required
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-5" style="margin: auto;">Address<span class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <textarea
                                [ngClass]="{'is-invalid':suppliertypeForm.controls.address.touched && suppliertypeForm.controls.address.errors}"
                                class="form-control" formControlName="address" id="textAreaExample1 ml-2" rows="4"
                                required></textarea>
                            <span class="text-danger"
                                *ngIf="suppliertypeForm.controls.address.touched && suppliertypeForm.controls.address.errors">
                                <div
                                    *ngIf="suppliertypeForm.controls.address.touched && suppliertypeForm.controls.address.errors.required">
                                    Address is required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12" style="display: flex;">
                        <div style="margin: auto;">
                            <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                <span> {{ suppliertypeForm.value.supplierid ==0 ? 'Save' :
                                    'Edit'}}</span></button>
                            <input type="button" style="width: 80px;" (click)="cancelClick()"
                                class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                            <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                (click)="backButton()" value="Close" />
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-10 table table-hover table-bordered table-sm  ">
                    <thead>
                        <tr>
                            <th>Si.No</th>
                            <th>Supplier Name</th>
                            <th>Mobile NO</th>
                            <th>GST NO</th>
                            <th>Balance</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let supplier of SupplierList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{supplier.supplier_name}}</td>
                            <td>{{supplier.mobile_number}}</td>
                            <td>{{supplier.gst_no}}</td>
                            <td>{{supplier.balance}}</td>
                            <td>{{supplier.address}}</td>
                            <td class="tdoption">
                                <span class="m-2 editbutton" (click)="udateGetClick(supplier)"><b>edit</b></span>
                                <span>||</span>
                                <span class="m-2 deletebutton"
                                    (click)="deleteClick(supplier.supplierid)"><b>delete</b></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>