<div class="_header_flex" style="background-color: orange;">
    <div style="color: white;font-size: 20px;">Confirmation !</div>
    <div class="pt-1">
        <mat-icon style="float: right;cursor: pointer;" title="Click to close" (click)="closedialog()"
            svgIcon="closesvg"></mat-icon>
    </div>
</div>

<div class="container condiv pt-0 pb-4">
    <div class="row">
        <span class="col-sm-12 mt-3" style="font-size: 17px;">{{data.message}}</span>

        <div class="col-sm-12 mt-2">
            <div style="width: 50%;float: left;">
                <button class="btn btn-success mt-4 btn-sm" style="width: 70%;border-radius: 5px;font-size: medium;"
                    [mat-dialog-close]="true">Yes</button>
            </div>

            <div style="width: 50%;float: left;">
                <button class="btn btn-danger mt-4 btn-sm" style="width: 70%;border-radius: 5px;font-size: medium;"
                    (click)="closedialog()">NO</button>
            </div>
        </div>
    </div>
</div>