<div class="container-fluid mt-2">
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Bus Fees Assign</h3>
                    </div>
                </div>
            </div>
            <form [formGroup]="specialBusFeesform" (ngSubmit)="saveSpecialbusfee()">
                <div class="row">
                    <div class="col-sm-2 mt-3" style="display: block;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Vehicle Type<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div>
                            <select
                                [ngClass]="{'is-invalid': specialBusFeesform.controls.typeid.touched && specialBusFeesform.controls.typeid.errors}"
                                formControlName="typeid" style="width: 100%;" class="form-control" required>
                                <option [ngValue]=null selected disabled>Please select</option>
                                <option [ngValue]="VehickeType.typeid" *ngFor="let VehickeType of vehicleTypeList;">
                                    {{VehickeType.vehicle_name}}
                                </option>
                            </select>
                            <span class="text-danger"
                                *ngIf="specialBusFeesform.controls.typeid.touched && specialBusFeesform.controls.typeid.errors">
                                <div
                                    *ngIf="specialBusFeesform.controls.typeid.touched && specialBusFeesform.controls.typeid.errors.required">
                                    Vehicle Type is required
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2 mt-3" style="display: block;">
                        <div>
                            <label class="pt-2" style="margin: auto;">KM Range<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div>
                            <input
                                [ngClass]="{'is-invalid': specialBusFeesform.controls.kmrange.touched && specialBusFeesform.controls.kmrange.errors}"
                                formControlName="kmrange" class="form-control" type="text"
                                oninput="this.value = this.value.toUpperCase()" (blur)="autokm()" required>
                            <span class="text-danger"
                                *ngIf="specialBusFeesform.controls.kmrange.touched && specialBusFeesform.controls.kmrange.errors">
                                <div
                                    *ngIf="specialBusFeesform.controls.kmrange.touched && specialBusFeesform.controls.kmrange.errors.required">
                                    KM Range is required
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-2 mt-3" style="display: block;">
                        <div>
                            <label class="pt-2" style="margin: auto;">Fees Less<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div>
                            <select
                                [ngClass]="{'is-invalid':specialBusFeesform.controls.fees_lessid.touched && specialBusFeesform.controls.fees_lessid.errors}"
                                formControlName="fees_lessid" style="width: 100%;" #s class="form-control" required>
                                <option [ngValue]=null selected disabled>Please select</option>
                                <option [ngValue]="item.fees_lessid" *ngFor="let item of FeesLessList;">
                                    {{item.less_type}}</option>
                            </select>
                            <span class="text-danger"
                                *ngIf="specialBusFeesform.controls.fees_lessid.touched && specialBusFeesform.controls.fees_lessid.errors">
                                <div
                                    *ngIf="specialBusFeesform.controls.fees_lessid.touched && specialBusFeesform.controls.fees_lessid.errors.required">
                                    Fees Less is required
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-2 mt-3" style="display: block;">
                        <div>
                            <label class="pt-2" style="margin: auto;">Batch Year<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div>
                            <input
                                [ngClass]="{'is-invalid': specialBusFeesform.controls.batch_year.touched && specialBusFeesform.controls.batch_year.errors}"
                                formControlName="batch_year" class="form-control" type="text" readonly required>
                            <span class="text-danger"
                                *ngIf="specialBusFeesform.controls.batch_year.touched && specialBusFeesform.controls.batch_year.errors">
                                <div
                                    *ngIf="specialBusFeesform.controls.batch_year.touched && specialBusFeesform.controls.batch_year.errors.required">
                                    Batch Year is required
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-1 mt-4" style="display: block;">
                        <div class="pt-3">
                            <button style="width: 100px;" (click)="Search()" type="button"
                                class="btn btn-secondary">Show</button>
                        </div>
                    </div>
                    <div class="table-responsive text-nowrap mt-5">
                        <table *ngIf="specialBusFeesform.get('s_classfeelist').value.length !=0"
                            class="col-sm-11 table table-bordered table-sm">
                            <thead formArrayName="s_classfeelist">
                                <tr>
                                    <th *ngFor="let chid of specialBusFeesform.get('s_classfeelist')['controls']; let i = index"
                                        formGroupName="{{i}}"><span>{{chid.get('class_name').value}}</span></th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="s_classfeelist">
                                <tr>
                                    <td *ngFor="let chid of specialBusFeesform.get('s_classfeelist')['controls']; let i = index"
                                        formGroupName="{{i}}">
                                        <span style="display: flex;">
                                            <input style="width: 100px;" class="form-control mr-1" readonly
                                                formControlName="amount">
                                            <div style="width: 100px;" class="input-group mb-3">
                                                <input type="text" (change)="validateWhite(i)" class="form-control"
                                                    formControlName="less_per" (keypress)="numberOnly($event)" required>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                    <td style="display: flex;" class="pb-5"><button class="btn btn-success btn-sm mr-2 "
                                            type="submit">Save</button>
                                        <button class="btn btn-primary btn-sm" (click)="specialFeesCancel()"
                                            type="button">Clear</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-11 table table-hover table-bordered table-sm  mt-2">
                    <thead>
                        <tr>
                            <th>S No</th>
                            <th>Vehicle Type</th>
                            <th>KM Range</th>
                            <th>Batch Year</th>
                            <th>Fees Less</th>
                            <th *ngFor="let class of ClassnameList">
                                <span style="color: blue;">{{class.class_name}}</span>
                                <span>
                            <th>General Amt</th>
                            <th>Deduction %</th>
                            <th>Deduction Amt</th>
                            <th>Payable Amt</th>
                            </span>
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bus of specialGroupBusFeesList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{bus.vehicle_type}}</td>
                            <td>{{bus.kmrange}}</td>
                            <td>{{bus.batch_year}}</td>
                            <td>{{bus.less_type}}</td>
                            <td *ngFor="let am of ClassnameList">
                                <span>
                            <td style="width: 80px;color:blue;">{{getGenAmount(am.class_name,i)}}</td>
                            <td style="width: 80px;">{{getAmount(am.class_name,i)}}%</td>
                            <td style="width: 80px;color:red;">{{getDeAmount(am.class_name,i)}}</td>
                            <td style="width: 80px;color:green;">{{getPayableAmount(am.class_name,i)}}</td>
                            </span>
                            </td>
                            <td>
                                <span
                                    (click)="specialBusFeeDelete(bus.typeid,bus.kmrange,bus.batch_year,bus.fees_lessid)"
                                    class="m-2 deletebutton"><b>delete</b></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>