<mat-tab-group animationDuration="0ms">
    <mat-tab label="Grade Type">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;text-align: left;">
                        <mat-icon class="" style="color: blue;">border_color</mat-icon>
                    </div>
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Student Mark Entry / Grade Type </h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Class</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control " name="selectAction">
                                        <option>1-St</option>
                                        <option>2-Nd</option>
                                        <option>10-Th</option>
                                        <option>11-Th</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Class Incharge</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Group</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control " name="selectAction">
                                        <option>Maths-Biology</option>
                                        <option>ComputerScience</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-1" style="margin: auto;">With practical pass mark</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Section</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control " name="selectAction">
                                        <option>A</option>
                                        <option>B</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-1" style="margin: auto;">With out practical pass mark</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
        
                        <div class="row ">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Batch</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control " name="selectAction">
                                        <option>A</option>
                                        <option>B</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;text-align: left;" class="mt-2">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                    SMS
                                    </div>
                                </div>
                                <div style="float: left;text-align: left;" class="mt-2 ml-5">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                   SUB1
                                    </div>
                                </div>
                                <div style="float: left;text-align: left;" class="mt-2 ml-5">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                   SUB2
                                    </div>
                                </div>                                                                
                            </div>
                            
                        </div>
        
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Date</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="" class="form-control" type="date" required>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;text-align: left;" class="mt-2">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                   SUB3
                                    </div>
                                </div>
                                <div style="float: left;text-align: left;" class="mt-2 ml-5">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                   SUB4
                                    </div>
                                </div>
                                <div style="float: left;text-align: left;" class="mt-2 ml-5">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                   SUB5
                                    </div>
                                </div>                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Exam Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-sm-12 mt-4">
                            <div style="text-align: center;">
                                <input matTooltip="Click to Add" type="submit" class="btn btn-primary" value="Add" />
                            </div>
                        </div>
                    </form>
        
                    <form>
                        <div class="table-responsive mt-5">
                        <table class="col-sm-12 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>A.NO</th>                                                    
                                    <th>Student Name</th>
                                    <th>Tamil</th> 
                                    <th>Grade</th>
                                    <th>English</th>
                                    <th>Grade</th>
                                    <th>Maths</th>
                                    <th>Grade</th>
                                    <th>Science</th>
                                    <th>Grade</th>
                                    <th>Social Science</th>
                                    <th>Grade</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Avg</th>
                                    <th>Rank</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                   <td>0001290</td>
                                   <td>Rajesh V</td>
                                   <td>93</td>
                                   <td>A+</td>
                                   <td>93</td>
                                   <td>A+</td>
                                   <td>93</td>
                                   <td>A+</td>
                                   <td>93</td>
                                   <td>A+</td>
                                   <td>93</td>
                                   <td>A+</td>
                                   <td>465</td>
                                   <td>Pass</td>
                                   <td>93</td>
                                   <td>13</td>
                                </tr>                                                    
                            </tbody>
                        </table>
                    </div>
                        <div class="col-sm-12 mt-4">
                            <div style="text-align: center;">
                                <input matTooltip="Click to Save" type="submit" class="btn btn-primary" value="Save" />
                                <input matTooltip="Click to Cancle" type="reset" class="btn btn-secondary ml-3"
                                    value="Cancle" />
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Rank Type">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;text-align: left;">
                        <mat-icon class="" style="color: blue;">border_color</mat-icon>
                    </div>
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Student Mark Entry / Rank Type </h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Class</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control " name="selectAction">
                                        <option>1-St</option>
                                        <option>2-Nd</option>
                                        <option>10-Th</option>
                                        <option>11-Th</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Class Incharge</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Group</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control " name="selectAction">
                                        <option>Maths-Biology</option>
                                        <option>ComputerScience</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-1" style="margin: auto;">With practical pass mark</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Section</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control " name="selectAction">
                                        <option>A</option>
                                        <option>B</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-1" style="margin: auto;">With out practical pass mark</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
        
                        <div class="row ">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Batch</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control " name="selectAction">
                                        <option>A</option>
                                        <option>B</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;text-align: left;" class="mt-2">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                    SMS
                                    </div>
                                </div>
                                <div style="float: left;text-align: left;" class="mt-2 ml-5">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                   SUB1
                                    </div>
                                </div>
                                <div style="float: left;text-align: left;" class="mt-2 ml-5">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                   SUB2
                                    </div>
                                </div>                                                                
                            </div>
                            
                        </div>
        
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Date</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="" class="form-control" type="date" required>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;text-align: left;" class="mt-2">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                   SUB3
                                    </div>
                                </div>
                                <div style="float: left;text-align: left;" class="mt-2 ml-5">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                   SUB4
                                    </div>
                                </div>
                                <div style="float: left;text-align: left;" class="mt-2 ml-5">
                                    <div style="float: left;text-align: left;">
                                        <input style="height: 15px;width: 15px;" type="checkbox" class="" value="something">
                                    </div>
                                    <div style="float: left;text-align: left;" class="ml-2">
                                   SUB5
                                    </div>
                                </div>                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label for="ex2" class="pt-2" style="margin: auto;">Exam Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-sm-12 mt-4">
                            <div style="text-align: center;">
                                <input matTooltip="Click to Add" type="submit" class="btn btn-primary" value="Add" />
                            </div>
                        </div>
                    </form>
        
                    <form>
                        <div class="table-responsive mt-5">
                        <table class="col-sm-12 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>A.NO</th>                                                    
                                    <th>Student Name</th>
                                    <th>Tamil</th>                                    
                                    <th>English</th>                                   
                                    <th>Maths</th>                                   
                                    <th>Science</th>                                    
                                    <th>Social Science</th>                                    
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Avg</th>
                                    <th>Rank</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                   <td>0001290</td>
                                   <td>Rajesh V</td>
                                   <td>93</td>                                  
                                   <td>93</td>                                   
                                   <td>93</td>                                   
                                   <td>93</td>                                   
                                   <td>93</td>                                   
                                   <td>465</td>
                                   <td>Pass</td>
                                   <td>93</td>
                                   <td>13</td>
                                </tr>                                                    
                            </tbody>
                        </table>
                    </div>
                        <div class="col-sm-12 mt-4">
                            <div style="text-align: center;">
                                <input matTooltip="Click to Save" type="submit" class="btn btn-primary" value="Save" />
                                <input matTooltip="Click to Cancle" type="reset" class="btn btn-secondary ml-3"
                                    value="Cancle" />
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>