h3{
    color: rgb(87, 97, 192);
    font-size: large;
    font-weight: 500;
  }

  .matcard{
    box-shadow: 0px 0px 5px 5px rgb(191, 193, 194);
  }

  .matcardactive{
   // box-shadow: 0px 0px 10px 2px rgb(25, 103, 210);
  }

  .dash_std{
    color: orangered;
    cursor: pointer;
  }
  .dash_std:hover{
    color: blue;
  }

  select:focus{
    border:2px solid blue ;
  }
  
  textarea:hover{
    border:2px solid green ;
  }
  
  textarea:focus{
    border:2px solid blue ;
  }
  
  .labeldiv{
    float: left;
    width: 150px;
    text-align: left;
  }
  
  .inputdiv{
    float: left;
    width: 250px;
  }