<div class="_login">
  <div>
    <div class="split left"></div>
    <div class="split right" fxLayoutAlign="center center">
      <div class="wrapper">
        <header class="section header">
          <div class="trapezoid"></div>
          <div class="header__text">
            <h1>Sign In</h1>
          </div>
        </header>
        <section class="section sign-in">
          <div style="display: flex;" class="pl-5">
            <div style="padding: 8px;">
              <button type="button" (click)="studentLogin()" matTooltip="Student Login"
                class=" btn btn-primary loginButton">
                <mat-icon>local_library</mat-icon>
              </button>
            </div>

            <div style="padding: 8px;">
              <button type="button" matTooltip="Parent Login" class=" btn btn-primary loginButton">
                <mat-icon>person</mat-icon>
              </button>
            </div>

            <div style="padding: 8px;">
              <button type="button" (click)="teacherLogin()" matTooltip="Staff Login"
                class=" btn btn-primary loginButton">
                <mat-icon>people</mat-icon>
              </button>
            </div>

            <div style="padding: 8px;">
              <button type="button" matTooltip="Admin Login" (click)="adminLogin()" class=" btn btn-danger loginButton">
                <mat-icon>lock</mat-icon>
              </button>
            </div>
          </div>
          <form [formGroup]="loginForm" *ngIf="adminLoginS" (ngSubmit)="login()" autocomplete="off" novalidate>
            <input [ngClass]="{'is-invalid':loginForm.controls.email.touched && loginForm.controls.email.errors}"
              formControlName="email" type="text" class="form-control" placeholder="Email" required />
            <input [ngClass]="{'is-invalid':loginForm.controls.password.touched && loginForm.controls.password.errors}"
              formControlName="password" type="password" class="form-control" placeholder="Password" required />
            <button style="width: 100%;" class="btn btn-info btn-sm">Sign In</button>
          </form>

          <form [formGroup]="StudentloginForm" *ngIf="studentLoginS">
            <input
              [ngClass]="{'is-invalid':StudentloginForm.controls.admission_no.touched && StudentloginForm.controls.admission_no.errors}"
              formControlName="admission_no" class="form-control" type="text" placeholder="Admission No" required />
            <input
              [ngClass]="{'is-invalid':StudentloginForm.controls.dob.touched && StudentloginForm.controls.dob.errors}"
              formControlName="dob" type="date" class="form-control" required />
            <button style="width: 100%;" class="btn btn-info btn-sm">Sign In</button>
          </form>

          <form [formGroup]="teacherLoginForm" *ngIf="teacherLoginS">
            <input
              [ngClass]="{'is-invalid':teacherLoginForm.controls.staff_no.touched && teacherLoginForm.controls.staff_no.errors}"
              formControlName="staff_no" class="form-control" type="text" placeholder="Staff No" required />
            <input
              [ngClass]="{'is-invalid':teacherLoginForm.controls.dob.touched && teacherLoginForm.controls.dob.errors}"
              formControlName="dob" type="date" class="form-control" required />
            <button style="width: 100%;" class="btn btn-info btn-sm">Sign In</button>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>