<div class="_login">
  <div>
    <div class="split left"></div>
    <div class="split right" fxLayoutAlign="center center">
      <div class="wrapper">
        <header class="section header">
          <div class="trapezoid"></div>
          <div class="header__text">
            <h1>Sign In</h1>
          </div>
        </header>
        <section class="section sign-in">
          <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off" novalidate>
            <input formControlName="email" type="text" name="email" placeholder="Email" required />
            <span class="text-danger" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors">
              <div class="pl-3" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors.required">
                Email is required
              </div>
              <div class="pl-3" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors.pattern">
                Invalid input
              </div>
            </span>
            <input formControlName="password" type="password" name="password" placeholder="Password" required />
            <span class="text-danger" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors">
              <div class="pl-3"
                *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors.required">
                Password is required
              </div>
            </span>
            <button>Sign In</button>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>