<mat-tab-group animationDuration="0ms">
    <mat-tab label="Vehicle Type">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Vehicle Type</h3>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="vehicletypeForm" (ngSubmit)="NewVehicleType()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Si.No</label>
                                </div>
                                <span *ngIf="buttonId == true ">
                                    <div class="inputdiv" *ngFor="let code of MaxId">
                                        <input placeholder="0{{code.typeid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="buttonId != true">
                                    <div class="inputdiv">
                                        <input formControlName="typeid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Vehicle Name<span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':vehicletypeForm.controls.vehicle_name.touched && vehicletypeForm.controls.vehicle_name.errors}"
                                        formControlName="vehicle_name" class="form-control" type="text" required>
                                    <span class="text-danger"
                                        *ngIf="vehicletypeForm.controls.vehicle_name.touched && vehicletypeForm.controls.vehicle_name.errors">
                                        <div
                                            *ngIf="vehicletypeForm.controls.vehicle_name.touched && vehicletypeForm.controls.vehicle_name.errors.required">
                                            Vehicle Name is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 350px;">
                                    <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                        <span> {{ vehicletypeForm.value.typeid ==0 ? 'Save' :
                                            'Edit'}}</span></button>
                                    <input type="button" style="width: 80px;" (click)="cancelClick()"
                                        class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                                    <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                        (click)="backButton()" value="Close" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Vehicle Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let type of DepartmentList;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{type.vehicle_name}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton" (click)=" udateGetClick(type)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="deleteClick(type.typeid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Vehicle No & Root">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Vehicle No & Vehicle Root</h3>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="vehicleNoRootForm" (ngSubmit)="NewVehicleNoRoot()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Si.No</label>
                                </div>
                                <span *ngIf="NoRootbuttonId == true ">
                                    <div class="inputdiv" *ngFor="let code of NoRootMaxId">
                                        <input placeholder="00{{code.vehicle_no_id+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="NoRootbuttonId != true">
                                    <div class="inputdiv">
                                        <input formControlName="vehicle_no_id" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Vehicle Type<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select
                                        [ngClass]="{'is-invalid':vehicle_type && vehicle_type.invalid && vehicle_type.touched}"
                                        formControlName="vehicle_type" style="width: 100%;" class="form-control "
                                        name="selectAction">
                                        <option value="" selected disabled>Please select</option>
                                        <option value={{VehickeType.vehicle_name}}
                                            *ngFor="let VehickeType of DepartmentList;">{{VehickeType.vehicle_name}}
                                        </option>
                                    </select>
                                    <p class="text-danger m-1"
                                        *ngIf="vehicle_type && vehicle_type.invalid && vehicle_type.touched">
                                        Vehicle Type is required</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Vehicle No<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':vehicleNoRootForm.controls.vehicle_no.touched && vehicleNoRootForm.controls.vehicle_no.errors}"
                                        formControlName="vehicle_no" class="form-control" type="text"
                                        oninput="this.value = this.value.toUpperCase()" required>
                                    <span class="text-danger"
                                        *ngIf="vehicleNoRootForm.controls.vehicle_no.touched && vehicleNoRootForm.controls.vehicle_no.errors">
                                        <div
                                            *ngIf="vehicleNoRootForm.controls.vehicle_no.touched && vehicleNoRootForm.controls.vehicle_no.errors.required">
                                            Vehicle No is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Vehicle Root No<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':vehicleNoRootForm.controls.vehicle_root_no.touched && vehicleNoRootForm.controls.vehicle_root_no.errors}"
                                        formControlName="vehicle_root_no" class="form-control" type="number" required>
                                    <span class="text-danger"
                                        *ngIf="vehicleNoRootForm.controls.vehicle_root_no.touched && vehicleNoRootForm.controls.vehicle_root_no.errors">
                                        <div
                                            *ngIf="vehicleNoRootForm.controls.vehicle_root_no.touched && vehicleNoRootForm.controls.vehicle_root_no.errors.required">
                                            Vehicle Root No is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 350px;">
                                    <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                        <span> {{ vehicleNoRootForm.value.vehicle_no_id ==0 ? 'Save' :
                                            'Edit'}}</span></button>
                                    <input type="button" style="width: 80px;" (click)="cancelClickVehicleNoRoot()"
                                        class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                                    <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                        (click)="backButton()" value="Close" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-8 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Vehicle Type</th>
                                    <th>Vehicle No</th>
                                    <th>Vehicle Root No</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vhnort of vehicleNoRootList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{vhnort.vehicle_type}}</td>
                                    <td>{{vhnort.vehicle_no}}</td>
                                    <td>{{vhnort.vehicle_root_no}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton"
                                            (click)="udateGetClickVehicleNoRoot(vhnort)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="deleteClickVehicleNoRoot(vhnort.vehicle_no_id)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Vehicle Place">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Vehicle Place</h3>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="vehicleplaceForm" (ngSubmit)="NewVehiclePlace()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Si.No</label>
                                </div>
                                <span *ngIf="buttonIdPlace == true ">
                                    <div class="inputdiv" *ngFor="let code of MaxIdPlace">
                                        <input placeholder="0{{code.placeid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="buttonIdPlace != true">
                                    <div class="inputdiv">
                                        <input formControlName="placeid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Vehicle Root No<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select
                                        [ngClass]="{'is-invalid': vehicleplaceForm.get('root_no')?.touched && vehicleplaceForm.get('root_no')?.errors}"
                                        formControlName="root_no" style="width: 100%;" class="form-control "
                                        name="selectAction">
                                        <option value=null selected disabled>Please select</option>
                                        <option [ngValue]="VehicleRoot.vehicle_root_no"
                                            *ngFor="let VehicleRoot of vehicleNoRootList;">
                                            {{VehicleRoot.vehicle_root_no}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="vehicleplaceForm.get('root_no')?.touched && vehicleplaceForm.get('root_no')?.errors">Vehicle
                                        Root No
                                        is required</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Place of Boarding<span
                                            class="text-danger"> *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':vehicleplaceForm.controls.place.touched && vehicleplaceForm.controls.place.errors}"
                                        formControlName="place" class="form-control" type="text" required>
                                    <span class="text-danger"
                                        *ngIf="vehicleplaceForm.controls.place.touched && vehicleplaceForm.controls.place.errors">
                                        <div
                                            *ngIf="vehicleplaceForm.controls.place.touched && vehicleplaceForm.controls.place.errors.required">
                                            Place of Boarding is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 350px;">
                                    <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                        <span> {{ vehicleplaceForm.value.placeid ==0 ? 'Save' :
                                            'Edit'}}</span></button>
                                    <input type="button" style="width: 80px;" (click)="cancelClickPlace()"
                                        class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                                    <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                        (click)="backButton()" value="Close" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-8 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Root No</th>
                                    <th>Place</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let place of PlaceList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{place.root_no}}</td>
                                    <td>{{place.place}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton"
                                            (click)="udateGetClickPlace(place)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="deleteClickPlace(place.placeid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>