<mat-tab-group animationDuration="0ms">
    <mat-tab label="Vehicle Type">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Vehicle Type </h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form [formGroup]="vehicletypeForm" (ngSubmit)="NewVehicleType()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Si.No</label>
                                </div>
                                <span *ngIf="buttonId == true ">
                                    <div class="inputdiv" *ngFor="let code of MaxId">
                                        <input placeholder={{code.typeid+1}} class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                                <span *ngIf="buttonId != true">
                                    <div class="inputdiv">
                                        <input formControlName="typeid" class="form-control" type="text" readonly required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Vehicle Name</label>
                                </div>
                                <div class="inputdiv">
                                    <input formControlName="vehicle_name" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <!-- <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" /> -->
                                        <input *ngIf="buttonId == true " [disabled]="vehicletypeForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                        <input *ngIf="buttonId != true" [disabled]="vehicletypeForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                    <input matTooltip="Click to Cancel" (click)="cancelClick()" type="button" style="width: 80px;"
                                        class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>                       
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Vehicle Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let type of DepartmentList;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{type.vehicle_name}}</td>
                                    <td class="tdoption"> <mat-icon matTooltip="Click to Edit" (click)=" udateGetClick(type)"
                                            style="color: blue;cursor: pointer;" class="pr-2">edit</mat-icon>
                                        <mat-icon matTooltip="Click to Delete" (click)="deleteClick(type.typeid)" style="color: red;cursor: pointer;"
                                            class="pl-2">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Vehicle No & Root">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;width: 400px;">
                        <h3 class="ml-1">Vehicle No & Vechicle Root </h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form [formGroup]="vehicleNoRootForm" (ngSubmit)="NewVehicleNoRoot()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Si.No</label>
                                </div>
                                <span *ngIf="NoRootbuttonId == true ">
                                    <div class="inputdiv" *ngFor="let code of NoRootMaxId">
                                        <input placeholder="00{{code.vehicle_no_id+1}}" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                                <span *ngIf="NoRootbuttonId != true">
                                    <div class="inputdiv">
                                        <input formControlName="vehicle_no_id" class="form-control" type="text" readonly required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Vehicle Type</label>
                                </div>
                                <div class="inputdiv">
                                    <select formControlName="vehicle_type"  style="width: 100%;" class="form-control " name="selectAction">
                                        <option value="" selected disabled>Please select</option>
                                        <option value={{VehickeType.vehicle_name}} *ngFor="let VehickeType of DepartmentList;">{{VehickeType.vehicle_name}}</option>                                        
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Vehicle No</label>
                                </div>
                                <div class="inputdiv">
                                    <input formControlName="vehicle_no" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Vehicle Root No</label>
                                </div>
                                <div class="inputdiv">
                                    <input formControlName="vehicle_root_no" class="form-control" type="number" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <!-- <input matTooltip="Click to Save" type="submit" style="width: 80px;" 
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" /> -->
                                        <input *ngIf="NoRootbuttonId == true " [disabled]="vehicleNoRootForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                        <input *ngIf="NoRootbuttonId != true" [disabled]="vehicleNoRootForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                    <input matTooltip="Click to Cancel" type="button" style="width: 80px;" (click)="cancelClickVehicleNoRoot()"
                                        class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-8 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Vehicle Type</th>
                                    <th>Vehicle No</th>
                                    <th>Vehicle Root No</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vhnort of vehicleNoRootList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{vhnort.vehicle_type}}</td>
                                    <td>{{vhnort.vehicle_no}}</td>
                                    <td>{{vhnort.vehicle_root_no}}</td>
                                    <td class="tdoption"> <mat-icon matTooltip="Click to Edit" (click)="udateGetClickVehicleNoRoot(vhnort)"
                                            style="color: blue;cursor: pointer;" class="pr-2">edit</mat-icon>
                                        <mat-icon matTooltip="Click to Delete" style="color: red;cursor: pointer;" (click)="deleteClickVehicleNoRoot(vhnort.vehicle_no_id)"
                                            class="pl-2">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Vehicle Place">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;width: 400px;">
                        <h3 class="ml-1">Vehicle Place </h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form [formGroup]="vehicleplaceForm" (ngSubmit)="NewVehiclePlace()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Si.No</label>
                                </div>
                                <span *ngIf="buttonIdPlace == true ">
                                    <div class="inputdiv" *ngFor="let code of MaxIdPlace">
                                        <input placeholder={{code.placeid+1}} class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                                <span *ngIf="buttonIdPlace != true">
                                    <div class="inputdiv">
                                        <input formControlName="placeid" class="form-control" type="text" readonly required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Vehicle Root No</label>
                                </div>
                                <div class="inputdiv">
                                    <select formControlName="root_no"  style="width: 100%;" class="form-control " name="selectAction">
                                        <option value="" selected disabled>Please select</option>
                                        <option [ngValue]="VehicleRoot.vehicle_root_no" *ngFor="let VehicleRoot of vehicleNoRootList;">{{VehicleRoot.vehicle_root_no}}</option>                                        
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Place of Boarding</label>
                                </div>
                                <div class="inputdiv">
                                    <input formControlName="place" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input *ngIf="buttonIdPlace == true " [disabled]="vehicleplaceForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                    class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input *ngIf="buttonIdPlace != true" [disabled]="vehicleplaceForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                    class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                    <input matTooltip="Click to Cancel" type="button" style="width: 80px;" (click)="cancelClickPlace()"
                                        class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>

                    </form>

                    <hr />

                    <p style="color: green;">If you have an Excel sheet select path here!</p>
                    <form>
                        <div class="row">
                            <div class="col-xl-5 ">
                                <div class="col-xs-3 p-3" style="display: flex;">
                                    <label style="margin: auto;width: 10px;">Select</label>
                                    <input class="form-control ml-5" id="ex2" type="file" required>
                                </div>
                            </div>
                            <div class="col-sm-4" style="display: flex;">
                                <div style="float: left;width: 250px;">
                                    <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input matTooltip="Click to Cancel" type="button" style="width: 80px;"
                                        class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-8 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Root No</th>
                                    <th>Place</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let place of PlaceList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{place.root_no}}</td>
                                    <td>{{place.place}}</td>
                                    <td class="tdoption"> <mat-icon matTooltip="Click to Edit" (click)="udateGetClickPlace(place)"
                                            style="color: blue;cursor: pointer;" class="pr-2">edit</mat-icon>
                                        <mat-icon matTooltip="Click to Delete" style="color: red;cursor: pointer;" (click)="deleteClickPlace(place.placeid)"
                                            class="pl-2">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>