<div class="container-fluid mt-2">
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Bus Fees Assign</h3>
                    </div>
                </div>
            </div>
            <form [formGroup]="busFeesForm" (ngSubmit)="save()">
                <div class="row">
                    <div class="col-sm-4 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Vehicle Type<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div class="inputdiv">
                            <select
                                [ngClass]="{'is-invalid': busFeesForm.controls.vehicle_type.touched && busFeesForm.controls.vehicle_type.errors}"
                                autofocus formControlName="vehicle_type" style="width: 100%;" class="form-control"
                                required>
                                <option value='' selected disabled>Please select</option>
                                <option value={{VehickeType.vehicle_name}} *ngFor="let VehickeType of vehicleTypeList;">
                                    {{VehickeType.vehicle_name}}
                                </option>
                            </select>
                            <span class="text-danger"
                                *ngIf="busFeesForm.controls.vehicle_type.touched && busFeesForm.controls.vehicle_type.errors">
                                <div
                                    *ngIf="busFeesForm.controls.vehicle_type.touched && busFeesForm.controls.vehicle_type.errors.required">
                                    Vehicle Type is required
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">KM Range<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid': busFeesForm.controls.kmrange.touched && busFeesForm.controls.kmrange.errors}"
                                formControlName="kmrange" class="form-control" type="text"
                                oninput="this.value = this.value.toUpperCase()" (blur)="autokm()" required>
                            <span class="text-danger"
                                *ngIf="busFeesForm.controls.kmrange.touched && busFeesForm.controls.kmrange.errors">
                                <div
                                    *ngIf="busFeesForm.controls.kmrange.touched && busFeesForm.controls.kmrange.errors.required">
                                    KM Range is required
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-3 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Batch Year<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid': busFeesForm.controls.batch_year.touched && busFeesForm.controls.batch_year.errors}"
                                formControlName="batch_year" class="form-control" type="text" readonly required>
                            <span class="text-danger"
                                *ngIf="busFeesForm.controls.batch_year.touched && busFeesForm.controls.batch_year.errors">
                                <div
                                    *ngIf="busFeesForm.controls.batch_year.touched && busFeesForm.controls.batch_year.errors.required">
                                    Batch Year is required
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-2 mt-3" style="display: flex;">
                        <div class="inputdiv">
                            <button style="width: 100px;" (click)="refreshClassList()" type="button"
                                class="btn btn-secondary">Show</button>
                        </div>
                    </div>

                    <table *ngIf="busFeesForm.get('classfeelist').value.length !=0"
                        class="col-sm-11 table table-hover table-bordered table-sm  m-5">
                        <thead formArrayName="classfeelist">
                            <tr>
                                <th *ngFor="let chid of busFeesForm.get('classfeelist')['controls']; let i = index"
                                    formGroupName="{{i}}"><span>{{chid.get('class_name').value}}</span></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="classfeelist">
                            <tr>
                                <td *ngFor="let chid of busFeesForm.get('classfeelist')['controls']; let i = index"
                                    formGroupName="{{i}}"><input class="form-control" formControlName="amount"></td>
                                <td style="display: flex;"><button class="btn btn-success btn-sm mr-2"
                                        type="submit">Save</button>
                                    <button (click)="busFeesCancel()" class="btn btn-danger btn-sm"
                                        type="button">Clear</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <table class="col-sm-12 table table-hover table-bordered table-sm  mt-2">
                <thead>
                    <tr>
                        <th>S No</th>
                        <th>Vehicle Type</th>
                        <th>KM Range</th>
                        <th>Batch Year</th>                        
                        <th *ngFor="let class of ClassnameList">{{class.class_name}}</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bus of groupBusFeeList;let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{bus.vehicle_type}}</td>
                        <td>{{bus.kmrange}}</td>
                        <td>{{bus.batch_year}}</td>                       
                        <td *ngFor="let am of bus.amo">{{am}} <span *ngIf="am == ''"> Null </span></td>
                        <td>
                            <span class="m-2 deletebutton" (click)="busFeeDelete(bus.busfeeid)"><b>delete</b></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>