<mat-tab-group animationDuration="0ms">
    <mat-tab label="Fees Type">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Fees Type</h3>
                            </div>
                        </div>
                        <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                                (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                        </div>
                    </div>
                    <form [formGroup]="feestypeForm" (ngSubmit)="NewFeesType()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Fees Code</label>
                                </div>
                                <span *ngIf="buttonId == true ">
                                    <div class="inputdiv" *ngFor="let code of MaxId">
                                        <input placeholder="000{{code.typeid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="buttonId != true">
                                    <div class="inputdiv">
                                        <input formControlName="typeid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Fees Type <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':feestypeForm.controls.type_name.touched && feestypeForm.controls.type_name.errors}"
                                        formControlName="type_name" class="form-control" type="tel" required>

                                    <span class="text-danger"
                                        *ngIf="feestypeForm.controls.type_name.touched && feestypeForm.controls.type_name.errors">
                                        <div
                                            *ngIf="feestypeForm.controls.type_name.touched && feestypeForm.controls.type_name.errors.required">
                                            Fees Type is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input *ngIf="buttonId == true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input *ngIf="buttonId != true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                    <input matTooltip="Click to Cancel" (click)=" cancelClick()" type="button"
                                        style="width: 80px;" class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Fees Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fees of FeesList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{fees.type_name}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton" (click)="udateGetClick(fees)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="deleteClick(fees.typeid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Fees Type Assign">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Fees Type</h3>
                            </div>
                        </div>
                        <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                                (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                        </div>
                    </div>
                    <form [formGroup]="feesTypeAssignForm" (ngSubmit)="newFeesTypeAssign()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Assign Code</label>
                                </div>
                                <span *ngIf="assignTypebuttonId == true ">
                                    <div class="inputdiv" *ngFor="let code of MaxIdAssignType">
                                        <input placeholder="000{{code.type_assignid+1}}" class="form-control"
                                            type="text" readonly required>
                                    </div>
                                </span>
                                <span *ngIf="assignTypebuttonId != true">
                                    <div class="inputdiv">
                                        <input formControlName="type_assignid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Fees Type <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select
                                        [ngClass]="{'is-invalid': feesTypeAssignForm.get('typeid')?.touched && feesTypeAssignForm.value.typeid == 0}"
                                        style="width: 100%;" formControlName="typeid" class="form-control "
                                        name="selectAction" required>
                                        <option value=0 selected disabled>Please select </option>
                                        <option [ngValue]="type.typeid" *ngFor="let type of FeesList">{{type.type_name}}
                                        </option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="feesTypeAssignForm.get('typeid')?.touched && feesTypeAssignForm.value.typeid == 0">
                                        Fees Type is required</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Fees Type Assign<span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':feesTypeAssignForm.controls.type_assign_name.touched && feesTypeAssignForm.controls.type_assign_name.errors}"
                                        formControlName="type_assign_name" class="form-control" type="tel" required>

                                    <span class="text-danger"
                                        *ngIf="feesTypeAssignForm.controls.type_assign_name.touched && feesTypeAssignForm.controls.type_assign_name.errors">
                                        <div
                                            *ngIf="feesTypeAssignForm.controls.type_assign_name.touched && feesTypeAssignForm.controls.type_assign_name.errors.required">
                                            Fees Type is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input *ngIf="assignTypebuttonId == true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input *ngIf="assignTypebuttonId != true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                    <input matTooltip="Click to Cancel" type="button" style="width: 80px;"
                                        class="btn btn-danger btn-sm mt-4" (click)="cancelClickAssignType()"
                                        value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Fees Type</th>
                                    <th>Fees Assign Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fees of FeesTypeAssignList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{fees.type_name}}</td>
                                    <td>{{fees.type_assign_name}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton"
                                            (click)=" updateGetClicTypekAssign(fees)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="assignTypedeleteClick(fees.type_assignid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Fees Less">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Fees Less</h3>
                            </div>
                        </div>
                        <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                                (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                        </div>
                    </div>
                    <form [formGroup]="feesLessForm" (ngSubmit)="NewFeesLess()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Fees Less Code</label>
                                </div>
                                <span *ngIf="buttonIdLess == true ">
                                    <div class="inputdiv" *ngFor="let code of MaxIdLess">
                                        <input placeholder="000{{code.fess_lessid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="buttonIdLess != true">
                                    <div class="inputdiv">
                                        <input formControlName="fess_lessid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Fees Less Category <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':feesLessForm.controls.less_type.touched && feesLessForm.controls.less_type.errors}"
                                        formControlName="less_type" class="form-control" type="tel" required>
                                    <span class="text-danger"
                                        *ngIf="feesLessForm.controls.less_type.touched && feesLessForm.controls.less_type.errors">
                                        <div
                                            *ngIf="feesLessForm.controls.less_type.touched && feesLessForm.controls.less_type.errors.required">
                                            Fees Less Category is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input *ngIf="buttonIdLess == true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input *ngIf="buttonIdLess != true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                    <input matTooltip="Click to Cancel" (click)="cancelClickLess()" type="button"
                                        style="width: 80px;" class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive ">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Fees Less Category</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let less of FeesLessList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{less.less_type}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton"
                                            (click)="udateGetClickLess(less)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="deleteClickLess(less.fess_lessid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Fees Assign">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Fees Assign</h3>
                            </div>
                        </div>
                        <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                                (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                        </div>
                    </div>
                    <form [formGroup]="feesAssignForm" (ngSubmit)="newFeesAssign()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Assign Code</label>
                                </div>
                                <span *ngIf="assignbuttonId == true ">
                                    <div class="inputdiv" *ngFor="let code of MaxIdAssign">
                                        <input placeholder="0{{code.assignid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="assignbuttonId != true">
                                    <div class="inputdiv">
                                        <input formControlName="assignid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>


                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Batch Year</label>
                                </div>
                                <div class="inputdiv">
                                    <input formControlName="batch_year" class="form-control" type="text" readonly
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Class Name<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select
                                        [ngClass]="{'is-invalid': feesAssignForm.get('classid')?.touched && feesAssignForm.value.classid == 0}"
                                        formControlName="classid" style="width: 100%;" #t
                                        (change)="filterGroupfun(t.value)" class="form-control " name="selectAction">
                                        <option value=0 selected disabled>Please select</option>
                                        <option [disabled]="assignbuttonId != true" value={{class.classid}}
                                            *ngFor="let class of ClassList;">
                                            {{class.class_name}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="feesAssignForm.get('classid')?.touched && feesAssignForm.value.classid == 0">Class
                                        name is required</span>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;" *ngIf="groupDisplay == true">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Group Name</label>
                                </div>
                                <div class="inputdiv">
                                    <select formControlName="groupid" style="width: 100%;" #s
                                        (change)="filterSectionfun(s.value)" class="form-control " name="selectAction">
                                        <option value=0 selected disabled>Please select</option>
                                        <option [disabled]="assignbuttonId != true" value={{group.groupid}}
                                            *ngFor="let group of groupFilterlist;">
                                            {{group.group_name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Section Name<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select
                                        [ngClass]="{'is-invalid': feesAssignForm.get('sectionid')?.touched && feesAssignForm.value.sectionid == 0}"
                                        formControlName="sectionid" style="width: 100%;" class="form-control "
                                        name="selectAction">
                                        <option value=0 selected disabled>Please select</option>
                                        <option [disabled]="assignbuttonId != true" [ngValue]="section.sectionid"
                                            *ngFor="let section of sectionFilterlist;">
                                            {{section.section_name}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="feesAssignForm.get('sectionid')?.touched && feesAssignForm.value.sectionid == 0">Section
                                        name is required</span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Fees Type<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select #tyf (change)="TypelistFilterfun(tyf.value)" required
                                        [ngClass]="{'is-invalid': feesAssignForm.get('typeid')?.touched && feesAssignForm.value.typeid == 0}"
                                        style="width: 100%;" formControlName="typeid" class="form-control "
                                        name="selectAction">
                                        <option value=0 selected disabled>Please select </option>
                                        <option [disabled]="assignbuttonId != true" [value]="type.typeid" *ngFor="let type of FeesList">{{type.type_name}}
                                        </option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="feesAssignForm.get('typeid')?.touched && feesAssignForm.value.typeid == 0">
                                        Fees Type required
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" *ngIf="feestypeDisplay == true" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Type Assign Name
                                    </label>
                                </div>
                                <div class="inputdiv">
                                    <select formControlName="type_assignid" style="width: 100%;" class="form-control "
                                        name="selectAction">
                                        <option value=0 selected disabled>Please select</option>
                                        <option [disabled]="assignbuttonId != true" [ngValue]="assign.type_assignid"
                                            *ngFor="let assign of FeesTypeAssignFilterlist;">
                                            {{assign.type_assign_name}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Fees Less</label>
                                </div>
                                <div class="inputdiv">
                                    <select style="width: 100%;" formControlName="fess_lessid" class="form-control "
                                        name="selectAction">
                                        <option [ngValue]=0 selected>Not Specified</option>
                                        <option [ngValue]="less.fess_lessid" *ngFor="let less of FeesLessList;">
                                            {{less.less_type}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Gender<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select
                                        [ngClass]="{'is-invalid':feesAssignForm.controls.gender.touched && feesAssignForm.controls.gender.errors}"
                                        style="width: 100%;" formControlName="gender" class="form-control "
                                        name="selectAction">
                                        <option value="" selected disabled>Please select</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other's</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="feesAssignForm.controls.gender.touched && feesAssignForm.controls.gender.errors">
                                        <div
                                            *ngIf="feesAssignForm.controls.gender.touched && feesAssignForm.controls.gender.errors.required">
                                            Gender is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Amount<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input (keypress)="numberOnly($event)"
                                        [ngClass]="{'is-invalid':feesAssignForm.controls.amount.touched && feesAssignForm.controls.amount.errors}"
                                        class="form-control" formControlName="amount" type="text" required>
                                    <span class="text-danger"
                                        *ngIf="feesAssignForm.controls.amount.touched && feesAssignForm.controls.amount.errors">
                                        <div
                                            *ngIf="feesAssignForm.controls.amount.touched && feesAssignForm.controls.amount.errors.required">
                                            Amount is required
                                        </div>
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-12 mt-4">
                            <div style="text-align: center;">
                                <input *ngIf="assignbuttonId == true" matTooltip="Click to Save" type="submit"
                                    style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                <input *ngIf="assignbuttonId != true" matTooltip="Click to Save" type="submit"
                                    style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                <input matTooltip="Click to Cancel" type="button" style="width: 80px;"
                                    (click)="cancelClickAssign()" class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                            </div>
                        </div>
                    </form>

                    <hr />

                    <p style="color: green;">If you have an Excel sheet select path here!</p>
                    <form>
                        <div class="row">
                            <div class="col-xl-5 ">
                                <div class="col-xs-3 p-3" style="display: flex;">
                                    <label style="margin: auto;width: 10px;">Select</label>
                                    <input class="form-control ml-5" id="ex2" type="file" required>
                                </div>
                            </div>
                            <div class="col-sm-4" style="display: flex;">

                                <div style="float: left;width: 250px;">
                                    <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input matTooltip="Click to Cancel" type="reset" style="width: 80px;"
                                        class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-12 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Class Name</th>
                                    <th>Group Name</th>
                                    <th>Section Name</th>
                                    <th>Gender</th>
                                    <th>Batch Year</th>
                                    <th>Fees Type</th>
                                    <th>Fees Type Assign</th>
                                    <th>Fees Less</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let Assign of FeesAssignList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{Assign.class_name}}</td>
                                    <td>{{Assign.group_name}}</td>
                                    <td>{{Assign.section_name}}</td>
                                    <td>{{Assign.gender}}</td>
                                    <td>{{Assign.batch_year}}</td>
                                    <td>{{Assign.type_name}}</td>
                                    <td>{{Assign.type_assign_name}}</td>
                                    <td>{{Assign.less_type}}</td>
                                    <td>{{Assign.amount}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton"
                                            (click)="updateGetClickAssign(Assign)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="assigndeleteClick(Assign.assignid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>