<div class="container-fluid mt-1">
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Staff Attendance</h3>
                    </div>
                </div>
                <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                        (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                </div>
            </div>
            <form #AttendanceForm="ngForm" (ngSubmit)="save(staffList)">
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Date<span class="text-danger"> *</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <!-- [max]="today" -->
                            <input [disabled]="serachDisabled == true" placeholder="Enter 10-th Mark" name="date"
                                [value]="today" [(ngModel)]="staffAttendanceForm.date" class="form-control" type="date"
                                required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Staff Type<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <select required name="staff_typeid" [(ngModel)]="staffAttendanceForm.staff_typeid"
                                style="width: 100%;" class="form-control ">
                                <option value=0 selected disabled>Please select</option>
                                <option [ngValue]="Staff.staff_typeid" [disabled]="serachDisabled == true"
                                    *ngFor="let Staff of StaffTypeList;">
                                    {{Staff.staff_type}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mt-3">
                    <div style="text-align: center;">
                        <button (click)="searchStaff()" matTooltip="Click to Search" type="button"
                            class="btn btn-primary btn-sm ">Search<i class="fa fa-search ml-2"></i></button>
                    </div>
                </div>

                <div *ngIf="staffList.length !=0" class="table-responsive mt-5">
                    <table class="col-sm-12 table table-hover table-bordered table-sm ">
                        <thead>
                            <tr>
                                <th>Si.No</th>
                                <th>Staff No</th>
                                <th>Staff Name</th>
                                <th>FN</th>
                                <th>AN</th>
                                <th>Full Day Leave</th>
                                <th>Half Day Permission</th>
                                <th>Leave Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let staff of staffList;let i=index">
                                <td>{{i+1}}</td>
                                <td>{{staff.staff_no}}</td>
                                <td>{{staff.staff_name}}</td>
                                <td><input [disabled]="staff.leave == true || staff.l_fn == true == true"
                                        [(ngModel)]="staff.fn" name="fn{{i}}" #fn="ngModel" type="checkbox">
                                    <span class="pl-2 text-success" *ngIf="staff.fn == true"><b>P</b></span><span
                                        class="pl-2 text-danger" *ngIf="staff.fn == false"><b>A</b></span>
                                </td>
                                <td><input [disabled]="staff.leave == true || staff.l_an == true" [(ngModel)]="staff.an"
                                        name="an{{i}}" #an="ngModel" type="checkbox">
                                    <span class="pl-2 text-success" *ngIf="staff.an == true"><b>P</b></span><span
                                        class="pl-2 text-danger" *ngIf="staff.an == false"><b>A</b></span>
                                </td>
                                <td style="color: red;"><input *ngIf="staff.leave == true" disabled
                                        [(ngModel)]="staff.leave" name="l{{i}}" #l="ngModel" type="checkbox"><span
                                        *ngIf="staff.leave == true">Full Day</span></td>
                                <td style="width: 100px;color: red;"><input disabled *ngIf="staff.l_fn == true"
                                        [(ngModel)]="staff.l_fn" name="lfn{{i}}" #lfn="ngModel" class="mt-1"
                                        type="checkbox"><span *ngIf="staff.l_fn == true">FN</span>
                                    <input style="margin-left: 5px;" disabled *ngIf="staff.l_an == true"
                                        [(ngModel)]="staff.l_an" name="lan{{i}}" #lan="ngModel" type="checkbox"><span
                                        *ngIf="staff.l_an == true">AN</span>
                                </td>
                                <td [width]="200"><select [(ngModel)]="staff.typeid" name="lty{{i}}" #lty="ngModel"
                                        style="width: 100%;" class="form-control ">
                                        <option value='' selected disabled>Please select</option>
                                        <option disabled value={{leave.typeid}} *ngFor="let leave of LaveTyList;">
                                            {{leave.type_name}}</option>
                                    </select></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-sm-8 m-4">
                        <div style="text-align: center;">
                            <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                class="btn btn-primary mr-3 btn-sm" value="Save" />
                            <input matTooltip="Click to Cancel" (click)="cancelClick();" type="button"
                                style="width: 80px;" class="btn btn-danger btn-sm mr-2" value="Cancel" />
                        </div>
                    </div>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>