<div class="container-fluid mt-1">
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">School Fees Collection</h3>
                    </div>
                </div>
                <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                        (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                </div>
            </div>
            <form [formGroup]="feesCollectionForm" (ngSubmit)="FeesDeduction()">
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Admission NO</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input (keypress)="numberOnly($event)" (change)="getStudent(adno.value)" #adno
                                formControlName="admission_no" class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Class</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <select formControlName="classid" style="width: 100%;" class="form-control">
                                <option disabled value={{class.classid}} *ngFor="let class of ClassList;">
                                    {{class.class_name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="feesCollectionForm.value.groupid ==null" class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Group</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <select formControlName="groupid" style="width: 100%;" class="form-control">
                                <option disabled value={{group.groupid}} *ngFor="let group of GroupList;">
                                    {{group.group_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Section</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <select formControlName="sectionid" style="width: 100%;" class="form-control">
                                <option disabled [ngValue]="section.sectionid" *ngFor="let section of SectionList;">
                                    {{section.section_name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Batch<span class="text-danger">*</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input readonly formControlName="batch_year" class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Student Name</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input readonly formControlName="student_name" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Date<span class="text-danger">*</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input readonly formControlName="date" class="form-control" type="Date" required>
                        </div>
                    </div>
                </div>

                <table class="col-sm-12 table table-bordered table-sm  mt-4">
                    <thead>
                        <tr>
                            <th>Fees Name</th>
                            <th>Amount</th>
                            <th>Balance</th>
                            <th style="width: 150px;">Payable Amount</th>
                        </tr>
                    </thead>


                    <!-- <tbody formArrayName="busFeesList">
                        <tr *ngFor="let chid of feesCollectionForm.get('busFeesList')['controls']; let j = index"
                            formGroupName="{{j}}">
                            <td class="pt-3">
                                <span style="color: red;" *ngIf="newgetbatch != chid.get('batch_year').value">Arrear
                                    Fees-Batch:{{chid.get('batch_year').value}}<br></span>
                                <span>{{chid.get('type_name').value}}</span>
                            </td>
                            <td class="pt-3">{{chid.get('type_assign_name').value}}</td>
                            <td><input readonly formControlName="amount" type="text" style="width: 150px;"
                                    class="form-control" /></td>
                            <td><input readonly formControlName="balance_amount" type="text" style="width: 150px;"
                                    class="form-control" /></td>
                            <td><input (keypress)="numberOnly($event)" (input)="bustotal(j,busamount.value)" #busamount
                                    formControlName="deduction_amount" type="text" style="width: 150px;" class="form-control" />
                            </td>
                        </tr>
                    </tbody> -->

                    <tbody formArrayName="generalFees">
                        <tr *ngFor="let chid of feesCollectionForm.get('generalFees')['controls']; let i = index"
                            formGroupName="{{i}}">
                            <!-- *ngIf=" chid.get('balance').value !=0 " -->
                            <td class="pt-3"><span style="color: red;"
                                    *ngIf="newgetbatch != chid.get('batch_year').value">Arrear
                                    Fees-Batch:{{chid.get('batch_year').value}}<br></span>
                                {{chid.get('type_name').value}}</td>
                            <td><input readonly formControlName="amount" type="text" style="width: 150px;"
                                    class="form-control" /></td>
                            <td><input readonly formControlName="balance" type="text" style="width: 150px;"
                                    class="form-control" /></td>
                            <td><input (keypress)="numberOnly($event)" (input)="commontotal(i,commonamount.value)"
                                    #commonamount formControlName="deduction_amount" type="text" style="width: 150px;"
                                    class="form-control" />
                            </td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td class="p-2"
                                style="text-align: right;color: blue;font-size: 20px;font-weight: 600;font-family: Roboto Slab;"
                                colspan="3">Total Amount</td>
                            <td style="width: 150px;"><input formControlName="total_amount" readonly style="color:red;"
                                    type="text" class="form-control" /></td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-sm-12 mt-5">
                    <div style="text-align: center;">
                        <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                            class="btn btn-primary mr-3 btn-sm" value="Save" />
                        <input matTooltip="Click to Cancel" type="button" (click)="cancelclick()" style="width: 80px;"
                            class="btn btn-danger btn-sm mr-2" value="Cancel" />
                        <input matTooltip="Click to Print" (click)="printbill()" type="button"
                            class="btn btn-primary m-3 btn-sm ml-5" value="Print" />
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>