<div class="container-fluid mt-1">
    <div class="row">
        <div class="col-12" style="display: flex;">
            <div style="float: left;text-align: left;">
                <mat-icon class="" style="color: blue;">supervised_user_circle</mat-icon>
            </div>
            <div style="float: left;width: 400px;">
                <h3 class="ml-1">School Fees</h3>
            </div>
        </div>
    </div>
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <form>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">AD NO</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Class Name</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <select style="width: 100%;" class="form-control " name="selectAction">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Group</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <select style="width: 100%;" class="form-control " name="selectAction">
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Section</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <select style="width: 100%;" class="form-control " name="selectAction">
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Batch</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="number" required>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Student Name</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="number" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Date</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input class="form-control"  [value]="today" type="Date" >
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-3 mt-5" style="display: flex;">
                        <div style="float: left;">
                            <input  style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                class="form-check-input ml-2" name="option1" value="something">
                        </div>
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2 ml-2" style="margin: auto;">School fees</label>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-5" style="display: flex;">
                        <div style="float: left;">
                            <input  style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                class="form-check-input ml-2" name="option1" value="something">
                        </div>
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2 ml-2" style="margin: auto;">Hostel fees</label>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-5" style="display: flex;">
                        <div style="float: left;">
                            <input  style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                class="form-check-input ml-2" name="option1" value="something">
                        </div>
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2 ml-2" style="margin: auto;">Bus fees</label>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-5" style="display: flex;">
                        <div style="float: left;">
                            <input  style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                class="form-check-input ml-2" name="option1" value="something">
                        </div>
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2 ml-2" style="margin: auto;">Sem fees</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Total Amount</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="number" required>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Received Amount</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="number" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Balance Amount</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="number" required>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Bill NO</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="number" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-4">
                    <div style="text-align: center;">
                        <input matTooltip="Click to Save" type="submit" class="btn btn-primary m-3" value="Save" />
                        <input matTooltip="Click to Print" (click)="printbill()" type="button"
                            class="btn btn-primary m-3" value="Print" />
                    </div>

                </div>
            </form>
            <div class="table-responsive mt-5">
                <table class="col-sm-12 table table-hover table-bordered table-sm  ">

                    <thead>
                        <tr>
                            <th>AD NO</th>
                            <th>Class</th>
                            <th>Group</th>
                            <th>Section</th>
                            <th>Batch</th>
                            <th>Student Name</th>
                            <th>Date</th>
                            <th>Fees Type</th>
                            <th>Total Amount</th>
                            <th>Received Amount</th>
                            <th>Balance Amount</th>
                            <!-- <th>Options</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0001</td>
                            <td>12</td>
                            <td>Maths</td>
                            <td>A</td>
                            <td>2023-2024</td>
                            <td>Ram</td>
                            <td>12-12-2023</td>
                            <td>School fees</td>
                            <td>60,000</td>
                            <td>40,000</td>
                            <td>20,000</td>
                            <!-- <td class="tdoption"> <mat-icon matTooltip="Click to Edit"
                                    style="color: blue;cursor: pointer;" class="pr-2">edit</mat-icon>
                                <mat-icon matTooltip="Click to Delete" style="color: red;cursor: pointer;"
                                    class="pl-2">delete</mat-icon>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>