<div class="container-fluid">
    <mat-card class="mt-2 matcard">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Vehicle Expenses</h3>
                    </div>
                </div>
            </div>
            <form [formGroup]="vehicleExpenseForm" (ngSubmit)="newExpense()">
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Vehicle No<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <select
                                [ngClass]="{'is-invalid':vehicleExpenseForm.controls.vehicle_no_id.touched && vehicleExpenseForm.controls.vehicle_no_id.errors}"
                                formControlName="vehicle_no_id" style="width: 100%;" class="form-control"
                                (change)="getVehicleDetails()" required>
                                <option value=null selected disabled>Please select</option>
                                <option [ngValue]="Vehi.vehicle_no_id" *ngFor="let Vehi of vehicleAssignList;">
                                    {{Vehi.vehicle_no}}
                                </option>
                            </select>
                            <span class="text-danger"
                                *ngIf="vehicleExpenseForm.controls.vehicle_no_id.touched && vehicleExpenseForm.controls.vehicle_no_id.errors">
                                <div
                                    *ngIf="vehicleExpenseForm.controls.vehicle_no_id.touched && vehicleExpenseForm.controls.vehicle_no_id.errors.required">
                                    Vehicle No is required
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Date<span class="text-danger">*</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input
                                [ngClass]="{'is-invalid':vehicleExpenseForm.controls.date.touched && vehicleExpenseForm.controls.date.errors}"
                                formControlName="date" class="form-control" type="date" required>

                            <span class="text-danger"
                                *ngIf="vehicleExpenseForm.controls.date.touched && vehicleExpenseForm.controls.date.errors">
                                <div
                                    *ngIf="vehicleExpenseForm.controls.date.touched && vehicleExpenseForm.controls.date.errors.required">
                                    Date is required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Root No</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input formControlName="vehicle_root_no" readonly class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Place of work<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input
                                [ngClass]="{'is-invalid':vehicleExpenseForm.controls.place_of_work.touched && vehicleExpenseForm.controls.place_of_work.errors}"
                                formControlName="place_of_work" class="form-control" type="text" required>
                            <span class="text-danger"
                                *ngIf="vehicleExpenseForm.controls.place_of_work.touched && vehicleExpenseForm.controls.place_of_work.errors">
                                <div
                                    *ngIf="vehicleExpenseForm.controls.place_of_work.touched && vehicleExpenseForm.controls.place_of_work.errors.required">
                                    Place of work is required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Driver Name</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input formControlName="driver_name" readonly class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Reason<span class="text-danger">*</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input
                                [ngClass]="{'is-invalid':vehicleExpenseForm.controls.reson.touched && vehicleExpenseForm.controls.reson.errors}"
                                formControlName="reson" class="form-control" type="text" required>
                            <span class="text-danger"
                                *ngIf="vehicleExpenseForm.controls.reson.touched && vehicleExpenseForm.controls.reson.errors">
                                <div
                                    *ngIf="vehicleExpenseForm.controls.reson.touched && vehicleExpenseForm.controls.reson.errors.required">
                                    Reason is required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Helper Name</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input formControlName="helper_name" readonly class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Amount<span class="text-danger">*</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input
                                [ngClass]="{'is-invalid':vehicleExpenseForm.controls.amount.touched && vehicleExpenseForm.controls.amount.errors}"
                                formControlName="amount" class="form-control" type="text" required>

                            <span class="text-danger"
                                *ngIf="vehicleExpenseForm.controls.amount.touched && vehicleExpenseForm.controls.amount.errors">
                                <div
                                    *ngIf="vehicleExpenseForm.controls.amount.touched && vehicleExpenseForm.controls.amount.errors.required">
                                    Amount is required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="text-align: center;">
                                <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                    <span> {{ vehicleExpenseForm.value.expenseid ==0 ? 'Save' :
                                        'Edit'}}</span></button>
                                <input type="button" (click)="cancelClick()" style="width: 80px;"
                                    class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                                <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                    (click)="backButton()" value="Close" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt-5 matcard">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-12 table table-hover table-bordered table-sm  ">
                    <thead>
                        <tr>
                            <th>Si.No</th>
                            <th>Vehicle No</th>
                            <th>Root No</th>
                            <th>Date</th>
                            <th>Driver Name</th>
                            <th>Helper Name</th>
                            <th>Place of work</th>
                            <th>Reson</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of vehicleExpenseList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{item.vehicle_no}}</td>
                            <td>{{item.vehicle_root_no}}</td>
                            <td>{{item.date}}</td>
                            <td>{{item.driver_name}}</td>
                            <td>{{item.helper_name}}</td>
                            <td>{{item.place_of_work}}</td>
                            <td>{{item.reson}}</td>
                            <td>{{item.amount}}</td>
                            <td class="tdoption">
                                <span (click)="updateClick(item)" class="m-2 editbutton"><b>edit</b></span>
                                <span>||</span>
                                <span (click)="deleteClick(item.expenseid)"
                                    class="m-2 deletebutton"><b>delete</b></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>