<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="display: flex;">
            <div style="float: left;width: 250px;">
                <h3 class="ml-1">Vehicle Expenses</h3>
            </div>
        </div>
    </div>
    <mat-card class="mt-2 matcard">
        <mat-card-content>
            <form>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Vehicle No</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="TN-03-AU-9861" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Place of work</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Root No</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Reason</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Date</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" [value]="today" type="date" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Amount</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Driver Name</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label for="ex2" class="pt-2" style="margin: auto;">Helper Name</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mt-4">
                    <div style="text-align: center;">
                        <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                            class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                        <input matTooltip="Click to Cancel" type="reset" style="width: 80px;"
                            class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt-5 matcard">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-12 table table-hover table-bordered table-sm  ">
                    <thead>
                        <tr>
                            <th>Si.No</th>
                            <th>Vehicle No</th>
                            <th>Root No</th>
                            <th>Date</th>
                            <th>Driver Name</th>
                            <th>Helper Name</th>
                            <th>Place of work</th>
                            <th>Reson</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>TN-03-AU-9861</td>
                            <td>3</td>
                            <td>12-12-2023</td>
                            <td>Ram</td>
                            <td>Kumar</td>
                            <td>Kuniyamuthur</td>
                            <td>Puncher</td>
                            <td>500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>