.matcard {
    box-shadow: 0px 0px 5px 5px rgb(191, 193, 194);
}

.secondbody {
    display: none;
}

@media print {
    body {
        width: 210mm;
        /* A4 width */
    }

    .secondbody {
        display: block;
    }

    .topsec {
        margin-top: 15px;
    }

    @page {
        size: A4 landscape;
        margin: 2mm;
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    #individual_print {
        width: 100%;
        /* Full width on print */
        border: 1px solid #ccc;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    div[style*="width: 100%"] {
        /* This ensures that any nested div with width: 100% is also expanded */
        width: 100% !important;
    }


}