h3 {
    color: rgb(25, 103, 210);
    font-size: large;
    font-weight: 600;
}

.matcard {
    box-shadow: 0px 0px 5px 5px rgb(191, 193, 194);
}

.scroll-buttons {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 999;
}

.scroll-btn {
    border: none;
    outline: none;
    background-color: #f768af;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.scroll-btn:hover {
    background-color: #ff3399;
}

.scroll-btn.top {
    top: 0;
}

.scroll-btn.bottom {
    bottom: 0;
}


@media print {
    body {
      margin: 0;
      padding: 0;
      font-size: 12px;
    }
  
    .table-responsive {
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  
    .table {
      width: 100%;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
    }
  
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    .scroll-btn {
      display: none; /* Hide the scroll button in print */
    }
  }