.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.capitalize {
    text-transform: capitalize;
}

@media print {
    @page {
        size: auto !important;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 60px;
        margin-right: 60px;
    }

}