.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.capitalize {
    text-transform: capitalize;
}

@media print {
    @page {
        size: A4 portrait;
        margin: 8mm;
    }

    .containercss {
        width: 70%;
        padding: 30px;
        font-size: 30px;
        font-weight: 900;
    }

    .table-sm th,
    .table-sm td {
        padding: 0.2rem;
        height: 60px;
        border-width: 2px;
        border-style: solid;
        font-size: 30px;
    }

    .row,
    .col-sm-12,
    .col-sm-6 {
        margin: 0px;
        font-size: 30px;
    }

    .image {
        width: 400px;
        height: 150px;
        margin-left: 300px;
    }

    .truncate-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .divcontwo {
        margin: 30px;
    }
}