<div class="container-fluid mt-1">
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Staff Salary</h3>
                    </div>
                </div>
                <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                        (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                </div>
            </div>
            <form [formGroup]="staffSalaryForm" (ngSubmit)="save()">
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Staff Type<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <select
                                [ngClass]="{'is-invalid':staffSalaryForm.controls.staff_typeid.touched && staffSalaryForm.controls.staff_typeid.errors}"
                                formControlName="staff_typeid" style="width: 100%;" class="form-control" required>
                                <option [ngValue]=null selected disabled>Please select</option>
                                <option *ngFor="let Staff of StaffTypeList;" [ngValue]="Staff.staff_typeid">
                                    {{Staff.staff_type}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Month Of Salary<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input
                                [ngClass]="{'is-invalid':staffSalaryForm.controls.sal_month.touched && staffSalaryForm.controls.sal_month.errors}"
                                formControlName="sal_month" class="form-control" type="month" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">No Of days<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input
                                [ngClass]="{'is-invalid':staffSalaryForm.controls.working_days.touched && staffSalaryForm.controls.working_days.errors}"
                                formControlName="working_days" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mt-4">
                    <div style="text-align: center;">
                        <input (click)="searchStaff()" type="button" style="width: 80px;"
                            class="btn btn-primary mr-3 btn-sm" value="Search" />
                    </div>
                </div>

                <div *ngIf="staffSalaryForm.value.staffList.length" class="table-responsive text-nowrap mt-3">
                    <table class="col-sm-12 table table-hover table-bordered table-sm mt-5 ">
                        <thead>
                            <tr>
                                <th style="background-color: lightslategray;" colspan="5"></th>
                                <th style="background-color: lightslategray;" colspan="7">Earnings</th>
                                <th style="background-color: lightslategray;" colspan="4">Deductions</th>
                                <th style="background-color: lightslategray;"></th>
                            </tr>
                            <tr>
                                <!-- <th>Si.No</th> -->
                                <th style="text-align: left;">Staff No</th>
                                <th style="text-align: left;">Staff Name</th>
                                <th>days present</th>
                                <th>A</th>
                                <th>Leave</th>
                                <th>payable Days</th>
                                <th>Basic</th>
                                <th>DA</th>
                                <th>HRA</th>
                                <th>ALL</th>
                                <th>Monthly Salary</th>
                                <th>Grand Total</th>
                                <th>Loan</th>
                                <th>Ab Amt</th>
                                <th>PF</th>
                                <th>Deduction</th>
                                <th>Net Salary</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="staffList">
                            <tr *ngFor="let chid of staffSalaryForm.get('staffList')['controls']; let i = index"
                                formGroupName="{{i}}">
                                <!-- <td>{{i+1}}</td> -->
                                <td style="text-align: left;">{{chid.get('staff_no').value}}</td>
                                <td style="text-align: left;">{{chid.get('staff_name').value}}</td>
                                <td><input formControlName="present_day" style="min-width: 80px;" class="form-control"
                                        readonly type="text"></td>
                                <td><input formControlName="absent_day" (change)="payableDayChange(i)" readonly
                                        style="min-width: 80px;" class="form-control" type="text"></td>
                                <td><input formControlName="leave" (change)="payableDayChange(i)" readonly
                                        style="min-width: 80px;" class="form-control" type="text"></td>
                                <td><input formControlName="payable_days" (change)="payableDayChange(i)" readonly
                                        style="min-width: 80px;" class="form-control" type="text"></td>
                                <td>{{chid.get('basic_pay').value}}</td>
                                <td>{{chid.get('da').value}}</td>
                                <td>{{chid.get('hra').value}}</td>
                                <td>{{chid.get('allowance').value}}</td>
                                <td>{{chid.get('total_salary').value}}</td>
                                <td>{{chid.get('grand_total').value}}</td>
                                <td><input formControlName="d_amount" style="min-width: 80px;" class="form-control"
                                        type="text" readonly><span style="color:blue;"
                                        *ngIf="chid.get('emi_amount').value != 0"><input (click)="PNChange(i,$event)"
                                            type="checkbox">Pay Next Month</span></td>
                                <td>{{chid.get('absent_amount').value}}</td>
                                <td>{{chid.get('pfamount').value}}</td>
                                <td>{{chid.get('deduction').value}}</td>
                                <td>{{chid.get('net_salary').value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="staffSalaryForm.value.staffList.length" class="col-sm-12 mt-4">
                    <div style="text-align: center;">
                        <input type="submit" style="width: 80px;" class="btn btn-primary mr-3 btn-sm" value="Save" />
                        <input type="button" (click)="canCelClick()" style="width: 80px;"
                            class="btn btn-danger btn-sm mr-2" value="Cancel" />
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>