<div class="container-fluid mt-1">
    <div class="row">
        <div class="col-12" style="display: flex;">
            <div style="float: left;width: 400px;">
                <h3 class="ml-1">Staff Salary</h3>
            </div>
        </div>
    </div>
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <form [formGroup]="staffSalaryForm" (ngSubmit)="save()">
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Staff Type</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <select formControlName="staff_type" style="width: 100%;"
                                class="form-control ">
                                <option value='' selected disabled>Please select</option>
                                <option *ngFor="let Staff of StaffTypeList;">
                                    {{Staff.staffType}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Month Of Salary</label>
                        </div>
                        <div style="float: left;width: 250px;">                           
                            <input formControlName="sal_month" class="form-control" type="month" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">No Of days</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input formControlName="working_days" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mt-4">
                    <div style="text-align: center;">
                        <input (click)="searchStaff()" type="button" style="width: 80px;"
                            class="btn btn-primary mr-3 btn-sm" value="Search" />                        
                    </div>
                </div>

                <div class="table-responsive text-nowrap mt-3">
                    <table class="col-sm-12 table table-hover table-bordered table-sm mt-5 ">
                        <thead>
                            <tr >
                                <th style="background-color: blue;" colspan="5"></th>
                                <th style="background-color: blue;" colspan="3">Earnings</th>
                                <th style="background-color: blue;" colspan="4">Deductions</th>
                                <th style="background-color: blue;"></th>
                            </tr>
                            <tr>
                                <!-- <th>Si.No</th> -->
                                <th>Staff No</th>
                                <th>Staff Name</th>
                                <!-- <th>No Of days</th> -->
                                <th>days present</th>
                                <th>A</th>
                                <th>Leave</th>
                                <th>payable Days</th>
                                <th>Basic</th>
                                <!-- <th>DA</th>
                                <th>HRA</th>
                                <th>ALL</th> -->
                                <th>Monthly Salary</th>
                                <!-- <th>Grand Total</th> -->
                                <th>Loan</th>
                                <th>Ab Amt</th>
                                <th>EPF</th>
                                <th>Deduction</th>                                
                                <th>Net Salary</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="staffList">
                            <tr *ngFor="let chid of staffSalaryForm.get('staffList')['controls']; let i = index"
                            formGroupName="{{i}}">
                                <!-- <td>{{i+1}}</td> -->
                                <td>{{chid.get('staff_no').value}}</td>
                                <td>{{chid.get('staff_name').value}}</td>
                                <!-- <td>{{chid.get('work_days').value}}</td> -->
                                <td><input formControlName="present_day" style="min-width: 80px;" class="form-control" type="text"></td>
                                <td><input formControlName="absent_day" (change)="payableDayChange(i)" style="min-width: 80px;" class="form-control" type="text"></td>
                                <td><input formControlName="leave" (change)="payableDayChange(i)" style="min-width: 80px;" class="form-control" type="text"></td>
                                <td><input formControlName="payable_days" (change)="payableDayChange(i)" style="min-width: 80px;" class="form-control" type="text"></td>
                                 <td><input formControlName="basic_pay" style="min-width: 80px;" class="form-control" type="text" readonly></td>
                               <!-- <td><input formControlName="da" style="min-width: 80px;" class="form-control" type="text" readonly></td>
                                <td><input formControlName="hra" style="min-width: 80px;" class="form-control" type="text" readonly></td>
                                <td><input formControlName="allowance" style="min-width: 80px;" class="form-control" type="text" readonly></td> -->
                                <td><input formControlName="total_salary" style="min-width: 80px;" class="form-control" type="text" readonly></td>
                                <!-- <td><input formControlName="grand_total" style="min-width: 80px;" class="form-control" type="text" readonly></td> -->
                                <td><input formControlName="d_amount" style="min-width: 80px;" class="form-control" type="text" readonly><span style="color:blue;" *ngIf="chid.get('d_amount').value != ''"><input (click)="PNChange(i,$event)" type="checkbox">Pay Next Month</span></td>
                                <td><input formControlName="absent_amount" style="min-width: 80px;" class="form-control" type="text"></td>
                                <td><input readonly formControlName="epf" style="min-width: 80px;" class="form-control" type="text"></td>
                                <td><input formControlName="deduction" style="min-width: 80px;" class="form-control" type="text"></td>                               
                                <td><input formControlName="net_salary" style="min-width: 80px;" class="form-control" type="text"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 mt-4">
                    <div style="text-align: center;">
                        <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                            class="btn btn-primary mr-3 btn-sm" value="Save" />
                        <input matTooltip="Click to Cancel" type="reset" style="width: 80px;"
                            class="btn btn-danger btn-sm mr-2" value="Cancel" />
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>