<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12" style="display: flex;">
            <div style="float: left;width: 300px;">
                <h3 class="ml-1">Uniform Master</h3>
            </div>
        </div>
    </div>
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <form>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label  class="pt-2" style="margin: auto;">Uniform Code</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="0011788" class="form-control" type="text" disabled required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label  class="pt-2" style="margin: auto;">Gender</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <select style="width: 100%;" class="form-control " name="selectAction">                                
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label  class="pt-2" style="margin: auto;">Size</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text"  required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label  class="pt-2" style="margin: auto;">Shirting</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label  class="pt-2" style="margin: auto;">Suiting</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label  class="pt-2" style="margin: auto;">Over Coat</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                        </div>
                        <div style="float: left;width: 250px;">
                            <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                            <input matTooltip="Click to Cancel" type="reset" style="width: 80px;"
                                class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                        </div>
                    </div>
                </div>
            </form>            
        </mat-card-content>
    </mat-card>
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-7 table table-hover table-bordered table-sm  ">
                    <thead>
                        <tr>
                            <th>Si.No</th>
                            <th>Gender</th>
                            <th>Size</th>
                            <th>Shirting</th>
                            <th>Suiting</th>
                            <th>Over Coat</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Female</td>
                            <td>Small</td>
                            <td>1.5m</td>
                            <td>1.5m</td>
                            <td>1.5m</td>
                            <td class="tdoption"> <mat-icon matTooltip="Click to Edit"
                                    style="color: blue;cursor: pointer;" class="pr-2">edit</mat-icon>
                                <mat-icon matTooltip="Click to Delete" style="color: red;cursor: pointer;"
                                    class="pl-2">delete</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>