<div class="container-fluid mt-2">
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Batch Year</h3>
                    </div>
                </div>
            </div>
            <form [formGroup]="BatchYearForm" (ngSubmit)="NewBatchYear()">
                <div class="row">
                    <div class="col-sm-6 mt-1" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Batch Code</label>
                        </div>
                        <span *ngIf="buttonId == true ">
                            <div class="inputdiv" *ngFor="let code of MaxId">
                                <input placeholder="00{{code.batchid+1}}" class="form-control" type="text" readonly
                                    required>
                            </div>
                        </span>
                        <span *ngIf="buttonId != true">
                            <div class="inputdiv">
                                <input formControlName="batchid" class="form-control" type="text" readonly required>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Batch Year <span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input (change)="formatBatch(batch.value)" #batch
                                [ngClass]="{'is-invalid':BatchYearForm.controls.batch_year.touched && BatchYearForm.controls.batch_year.errors}"
                                formControlName="batch_year" pattern="[0-9]{4}-[0-9]{4}" class="form-control" type="tel"
                                required>
                            <span class="text-danger"
                                *ngIf="BatchYearForm.controls.batch_year.touched && BatchYearForm.controls.batch_year.errors">
                                <div
                                    *ngIf="BatchYearForm.controls.batch_year.touched && BatchYearForm.controls.batch_year.errors.required">
                                    Batch year is required
                                </div>
                                <div
                                    *ngIf="BatchYearForm.controls.batch_year.touched && BatchYearForm.controls.batch_year.errors.pattern">
                                    Invalid input ,Example(2012-2013)
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                        </div>
                        <div style="float: left;width: 350px;">
                            <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                <span> {{ BatchYearForm.value.batchid ==0 ? 'Save' :
                                    'Edit'}}</span></button>
                            <input type="button" style="width: 80px;" (click)="cancelClick()"
                                class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                            <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                (click)="backButton()" value="Close" />
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-7 table table-hover table-bordered table-sm  ">
                    <thead>
                        <tr>
                            <th>Si.No</th>
                            <th>Batch Year</th>
                            <th>Action</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let batch of BatchList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{batch.batch_year}}</td>
                            <td class="tdoption">
                                <span class="m-2 editbutton" (click)="udateGetClick(batch)"><b>edit</b></span>
                                <span>||</span>
                                <span class="m-2 deletebutton" (click)="deleteClick(batch.batchid)"><b>delete</b></span>
                            </td>
                            <td style="text-align: center;"><input [checked]="batch.activestatus"
                                    (click)="ActiveStatusClick(batch.batchid)" style="width: 20px;height: 20px;"
                                    class="mt-1" type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>