<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12" style="display: flex;">
            <div style="float: left;width: 300px;">
                <h3 class="ml-1">Batch Year</h3>
            </div>
        </div>
    </div>
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <!-- <p *ngIf="buttonId == true " class="addup" style="background-color: blue;">Add New Staff Type <i class="fa fa-plus ml-1"></i></p>
            <p *ngIf="buttonId != true" class="addup" style="background-color: black;width: 165px;">Update Staff type <i class="fa fa-refresh ml-1"></i></p> -->
            <form [formGroup]="BatchYearForm" (ngSubmit)="NewBatchYear()">
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Batch Code</label>
                        </div>
                        <span *ngIf="buttonId == true ">
                            <div class="inputdiv" *ngFor="let code of MaxId">
                                <input placeholder="00{{code.batchid+1}}" class="form-control" type="text" readonly
                                    required>
                            </div>
                        </span>
                        <span *ngIf="buttonId != true">
                            <div class="inputdiv">
                                <input formControlName="batchid" class="form-control" type="text" readonly required>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Batch Year</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="batch_year" pattern="[0-9]{4}-[0-9]{4}" placeholder="2023-2024"
                                class="form-control" type="tel" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                        </div>
                        <div style="float: left;width: 250px;">
                            <!-- <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" /> -->
                                <input *ngIf="buttonId == true " [disabled]="BatchYearForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                <input *ngIf="buttonId != true" [disabled]="BatchYearForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                            <input matTooltip="Click to Cancel" type="button" (click)="cancelClick()"
                                style="width: 80px;" class="btn btn-danger btn-sm mt-4" value="Cancel" />
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-7 table table-hover table-sm  ">
                    <thead>
                        <tr>
                            <th>Si.No</th>
                            <th>Batch Year</th>
                            <th>Action</th>
                            <th style="text-align: center;">Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let batch of BatchList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{batch.batch_year}}</td>
                            <td class="tdoption"> <mat-icon matTooltip="Click to Edit" (click)="udateGetClick(batch)"
                                    style="color: blue;cursor: pointer;" class="pr-2">edit</mat-icon>
                                <mat-icon (click)="deleteClick(batch.batchid)" matTooltip="Click to Delete"
                                    style="color: red;cursor: pointer;" class="pl-2">delete</mat-icon>
                            </td>
                            <td style="text-align: center;"><input [checked]="batch.activestatus"
                                    (click)="ActiveStatusClick(batch.batchid)" style="width: 20px;height: 20px;"
                                    class="mt-1" type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>