<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="display: flex;">
            <div class="inputdiv">
                <h3 class="ml-1">Student Enquiry</h3>
            </div>

            <div class="col-6" style="display: flex;">
                <div class="inputdiv">
                    <button routerLink="../enquiry_dashboard" matTooltip="Click to go to the Student dashboard" type="button"
                        class="btn btn-primary btn-sm ">Dash Board<i class="fa fa-arrow-right ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>
    <mat-card class="mt-2 matcard">
        <mat-card-content>
            <form>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Enrollment Number</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="#00110" class="form-control" disabled type="number" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Date</label>
                        </div>
                        <div class="inputdiv">
                            <input   class="form-control" type="date" required>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Student Name</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="Enter Student Name" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Seeking admission for</label>
                        </div>
                        <div class="inputdiv">
                            <select style="width: 100%;" class="form-control " name="selectAction">
                                <option>1-St</option>
                                <option>2-Nd</option>
                                <option>10-Th</option>
                                <option>11-Th</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">10-th Mark</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="Enter 10-th Mark" class="form-control" type="number" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Group</label>
                        </div>
                        <div class="inputdiv">
                            <select style="width: 100%;" class="form-control" name="selectAction">
                                <option>Maths-Biology</option>
                                <option>ComputerScience</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">DOB</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="dd-mm-yyyy" class="form-control" type="date" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Gender</label>
                        </div>
                        <div class="inputdiv">
                            <select style="width: 100%;" class="form-control" name="selectAction">
                                <option>Male</option>
                                <option>FeMale</option>
                                <option>Other's</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Nationality</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="Indian" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Religion</label>
                        </div>
                        <div class="inputdiv">
                            <select style="width: 100%;" class="form-control" name="selectAction">
                                <option>Hindu</option>
                                <option>Muslim</option>
                                <option>Christian</option>
                                <option>Other's</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Community</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="Enter Community" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Caste</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="Enter Caste" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Father Name</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="Student Father Name" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Occupation</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="Father Occupation" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Qualification</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="12Th" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Phone Number</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="9900887766" class="form-control" type="tel" required>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Mother Name</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="Student Mother Name" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Occupation</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="Occupation" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Qualification</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="12Th" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Phone Number</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="9900887766" class="form-control" type="tel" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Blood Group</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="o+" class="form-control" type="text" required>
                        </div>
                    </div>


                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Place</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-5" style="margin: auto;">Address</label>
                        </div>
                        <div class="inputdiv">
                            <textarea class="form-control" rows="4" required></textarea>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Aadhar Number</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Indentification Mark 1</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Indentification Mark 2</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Last Studied Std</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Last Studied School</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Last Studied Stream</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Last Studied Medium</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mt-4">
                    <div class="pl-5">
                        <input style="height: 20px;width: 20px;" type="checkbox" class="form-check-input  mt-1 "
                            name="option1" value="something" checked>
                        <label class="p-2" style="margin: auto;font-weight: 700;">I declare that the
                            particulars given
                            above are correct and best my knowledge and will strictly follow the rules and
                            regulations of the school</label>
                    </div>
                </div>

                <div class="col-sm-12 mt-4">
                    <div style="text-align: center;">
                        <input matTooltip="Click to Save" type="submit" class="btn btn-primary" value="Save" />
                        <input matTooltip="Click to Cancel" type="reset" class="btn btn-secondary ml-3"
                            value="Cancel" />
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>