<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="display: flex;">
            <div class="inputdiv">
                <h3 class="ml-1">Student Enquiry</h3>
            </div>

            <div class="col-6" style="display: flex;">
                <div class="inputdiv">
                    <button routerLink="../enquiry_dashboard" matTooltip="Click to go to the Student dashboard" type="button"
                        class="btn btn-primary btn-sm ">Dash Board<i class="fa fa-arrow-right ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>
    <mat-card class="mt-2 matcard">
        <mat-card-content>
            <form [formGroup]="StudentEnquiryForm" (ngSubmit)="newEnquiry()">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputdiv" >
                            <h3 class="ml-1" style="color: orangered;">Student Information</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Enrollment Number</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="#00110" class="form-control" disabled type="number">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Date</label>
                        </div>
                        <div class="inputdiv">
                            <input  formControlName="date" class="form-control" [value]="today" type="date" required>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Student Name</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="student_name" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Seeking admission for</label>
                        </div>
                        <div class="inputdiv">
                            <select formControlName="s_admission" style="width: 100%;" class="form-control" #t (change)="changefun(t.value)" name="selectAction">
                                <option value=0 selected disabled>Please select</option>
                                <option  value={{class.classid}} *ngFor="let class of ClassList">{{class.class_name}}</option>                                
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="Groupnewlist.length !=0">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">10-th Mark</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="mark_10" class="form-control" type="number">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Seeking Group for</label>
                        </div>
                        <div class="inputdiv">
                            <select formControlName="s_group" style="width: 100%;" class="form-control" name="selectAction">
                                <option value=0 selected disabled>Please select</option>
                                <option [ngValue]="group.groupid" *ngFor="let group of Groupnewlist">{{group.group_name}}</option>                                
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">DOB</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="dob" class="form-control" type="date" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Gender</label>
                        </div>
                        <div class="inputdiv">
                            <select formControlName="gender" style="width: 100%;" class="form-control" name="selectAction">
                                <option value='' selected disabled>Please select</option>
                                <option value="Male">Male</option>
                                <option value="FeMale">FeMale</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Nationality</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="nationality" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Religion</label>
                        </div>
                        <div class="inputdiv">
                            <select style="width: 100%;" formControlName="religion" class="form-control" name="selectAction">
                                <option value='' selected disabled>Please select</option>
                                <option value="Hindu">Hindu</option>
                                <option value="Muslim">Muslim</option>
                                <option value="Christian">Christian</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Community</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="community" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Caste</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="caste" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Blood Group</label>
                        </div>
                        <div class="inputdiv">
                            <input  formControlName="bloodgroup" class="form-control" type="text" required>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2"  style="margin: auto;">Aadhar Number</label>
                        </div>
                        <div class="inputdiv">
                            <input (keypress)="numberOnly($event)" formControlName="aadhar" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputdiv" >
                            <h3 class="ml-1" style="color: orangered;">Parent Information</h3>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-sm-6 mt-2" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Father Name</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="father_name" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2"  style="margin: auto;">Occupation</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="f_occupation" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2"  style="margin: auto;">Qualification</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="f_qualification" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2"  style="margin: auto;">Phone Number</label>
                        </div>
                        <div class="inputdiv">
                            <input (keypress)="numberOnly($event)" minlength="10" maxlength="10" formControlName="f_ph" class="form-control" type="tel">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Email</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="f_email" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Mother Name</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="mother_name" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Occupation</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="m_occupation" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Qualification</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="m_qualification" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Phone Number</label>
                        </div>
                        <div class="inputdiv">
                            <input (keypress)="numberOnly($event)" formControlName="m_ph" maxlength="10" minlength="10" class="form-control" type="tel">
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputdiv" >
                            <h3 class="ml-1" style="color: orangered;">Student Other Information</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Place</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="place" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-5" style="margin: auto;">Address</label>
                        </div>
                        <div class="inputdiv">
                            <textarea formControlName="address" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Indentification Mark 1</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="i_m_1" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Indentification Mark 2</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="i_m_2" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Class Last Studied</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="l_class" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">School Last Studied & Place</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="l_school" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Stream Last Studied</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="l_stream" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Medium Last Studied</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="l_medium" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mt-4">
                    <div class="pl-2" style="margin-left: 50px;">                        
                        <input formArrayName="s_declare" (change)="selectedSub($event)" style="height: 20px;width: 20px;" type="checkbox" class="form-check-input  mt-1 "
                            name="option1" value="something">
                        <label class="p-2" style="margin: auto;font-weight: 700;">I declare that the
                            particulars given
                            above are correct and best my knowledge and will strictly follow the rules and
                            regulations of the school</label>
                    </div>
                </div>

                <div class="col-sm-12 mt-4">
                    <div style="text-align: center;">
                       <input matTooltip="Click to Save" type="submit" style="width: 80px;"  class="btn btn-primary mr-3 btn-sm" value="Save" />
                        <input matTooltip="Click to Cancel" type="reset" style="width: 80px;"  class="btn btn-danger btn-sm mr-2"
                            value="Cancel" />
                    </div>
                </div>

                <!-- <div class="col-sm-12 mt-4">
                    <div style="text-align: center;">
                        <input matTooltip="Click to Save" type="submit" class="btn btn-primary" value="Save" />
                        <input matTooltip="Click to Cancel" type="reset" class="btn btn-secondary ml-3"
                            value="Cancel" />
                    </div>
                </div> -->
            </form>
        </mat-card-content>
    </mat-card>
</div>