<mat-tab-group animationDuration="0ms">
    <mat-tab label="Leave Type">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Leave Type</h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form [formGroup]="leavetypeForm" (ngSubmit)=" NewLeaveType()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label  class="pt-2" style="margin: auto;">Leave Code</label>
                                </div>
                                <span *ngIf="buttonId == true ">
                                    <div class="inputdiv" *ngFor="let code of MaxId">
                                        <input placeholder={{code.typeid+1}} class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                                <span *ngIf="buttonId != true">
                                    <div class="inputdiv">
                                        <input formControlName="typeid" class="form-control" type="text" readonly required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label  class="pt-2" style="margin: auto;">Leave Type</label>
                                </div>
                                <div class="inputdiv">
                                    <input formControlName="type_name" class="form-control" type="tel" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <!-- <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" /> -->
                                        <input *ngIf="buttonId == true " [disabled]="leavetypeForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                        <input *ngIf="buttonId != true" [disabled]="leavetypeForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                    <input matTooltip="Click to Cancel" (click)="cancelClick()" type="button" style="width: 80px;"
                                        class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Leave Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let Leave of LaveTyList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{Leave.type_name}}</td>
                                    <td class="tdoption"> <mat-icon matTooltip="Click to Edit" (click)="udateGetClick(Leave)"
                                            style="color: blue;cursor: pointer;" class="pr-2">edit</mat-icon>
                                        <mat-icon matTooltip="Click to Delete" (click)="deleteClick(Leave.typeid)" style="color: red;cursor: pointer;"
                                            class="pl-2">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Leave Assign">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Leave Assign</h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form [formGroup]="leaveAssignForm" (ngSubmit)="NewLeaveAssign()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label  class="pt-2" style="margin: auto;">Assign Code</label>
                                </div>
                                <span *ngIf="AssignbuttonId == true ">
                                    <div class="inputdiv" *ngFor="let code of AssignMaxId">
                                        <input placeholder={{code.assignid+1}} class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                                <span *ngIf="AssignbuttonId != true">
                                    <div class="inputdiv">
                                        <input formControlName="assignid" class="form-control" type="text" readonly required>
                                    </div>
                                </span>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label  class="pt-2" style="margin: auto;">Staff Type</label>
                                </div>
                                <div class="inputdiv">
                                    <select formControlName="staff_type"  style="width: 100%;" class="form-control " name="selectAction">
                                        <option value="" selected disabled>Please select</option>
                                        <option value={{StaffType.staffType}} *ngFor="let StaffType of StaffTypeList;">{{StaffType.staffType}}</option>                                        
                                    </select>
                                    <p class="text-danger m-1" *ngIf="staff_type && staff_type.invalid && staff_type.touched">
                                        Please select Staff type !</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label  class="pt-2" style="margin: auto;">Staff Name</label>
                                </div>
                                <div class="inputdiv">
                                    <input formControlName="staff_name"  class="form-control" type="text" required>
                                    <p class="text-danger m-1" *ngIf="staff_name && staff_name.invalid && staff_name.touched">
                                        Please enter Staff name !</p>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label  class="pt-2" style="margin: auto;">No of Leave</label>
                                </div>
                                <div class="inputdiv">
                                    <input formControlName="no_of_leave" class="form-control" type="number" required>
                                    <p class="text-danger m-1" *ngIf="no_of_leave && no_of_leave.invalid && no_of_leave.touched">
                                        Please enter No of leave!</p>                                       
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label  class="pt-2" style="margin: auto;">Eligible Per Month</label>
                                </div>
                                <div class="inputdiv">
                                    <input formControlName="e_per_mon" class="form-control" type="number" required>
                                    <p class="text-danger m-1" *ngIf="e_per_mon && e_per_mon.invalid && e_per_mon.touched">
                                        Please enter Eligible Per Month !</p>
                                </div>
                                
                            </div>
                        </div>

                        <div class="col-sm-12 mt-4">
                            <div style="text-align: center;">
                                <!-- <input matTooltip="Click to Save" [disabled]="leaveAssignForm.invalid" type="submit" style="width: 80px;"
                                    class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" /> -->
                                    <input *ngIf="AssignbuttonId == true " [disabled]="leaveAssignForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                        <input *ngIf="AssignbuttonId != true" [disabled]="leaveAssignForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                <input matTooltip="Click to Cancel" (click)="AssigncancelClick()" type="button" style="width: 80px;"
                                    class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-8 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Staff Type</th>
                                    <th>Staff Name</th>
                                    <th>No.Of Leave</th>
                                    <th>Eligible Per Month</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let assign of LaveAsList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{assign.staff_type}}</td>
                                    <td>{{assign.staff_name}}</td>
                                    <td>{{assign.no_of_leave}}</td>
                                    <td>{{assign.e_per_mon}}</td>
                                    <td class="tdoption"> <mat-icon matTooltip="Click to Edit" (click)="AssignUpdateGetClick(assign)"
                                            style="color: blue;cursor: pointer;" class="pr-2">edit</mat-icon>
                                        <mat-icon matTooltip="Click to Delete" (click)="AssigndeleteClick(assign.assignid)" style="color: red;cursor: pointer;"
                                            class="pl-2">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>