<mat-tab-group animationDuration="0ms">
    <mat-tab label="Leave Type">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Leave Type</h3>
                            </div>
                        </div>
                        <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                                (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                        </div>
                    </div>
                    <form [formGroup]="leavetypeForm" (ngSubmit)=" NewLeaveType()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Leave Code</label>
                                </div>
                                <span *ngIf="buttonId == true ">
                                    <div class="inputdiv" *ngFor="let code of MaxId">
                                        <input placeholder="0{{code.typeid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="buttonId != true">
                                    <div class="inputdiv">
                                        <input formControlName="typeid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Leave Type <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':leavetypeForm.controls.type_name.touched && leavetypeForm.controls.type_name.errors}"
                                        formControlName="type_name" class="form-control" type="tel" required>
                                    <span class="text-danger"
                                        *ngIf="leavetypeForm.controls.type_name.touched && leavetypeForm.controls.type_name.errors">
                                        <div
                                            *ngIf="leavetypeForm.controls.type_name.touched && leavetypeForm.controls.type_name.errors.required">
                                            Leave type is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Full Name<span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':leavetypeForm.controls.fullName.touched && leavetypeForm.controls.fullName.errors}"
                                        formControlName="fullName" class="form-control" type="tel" required>
                                    <span class="text-danger"
                                        *ngIf="leavetypeForm.controls.fullName.touched && leavetypeForm.controls.fullName.errors">
                                        <div
                                            *ngIf="leavetypeForm.controls.fullName.touched && leavetypeForm.controls.fullName.errors.required">
                                            fullName is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input *ngIf="buttonId == true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input *ngIf="buttonId != true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                    <input matTooltip="Click to Cancel" (click)="cancelClick()" type="button"
                                        style="width: 80px;" class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Leave Type</th>
                                    <th>fullName</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let Leave of LaveTyList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{Leave.type_name}}</td>
                                    <td>{{Leave.fullName}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton" (click)="udateGetClick(Leave)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="deleteClick(Leave.typeid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Leave Assign">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Leave Assign</h3>
                            </div>
                        </div>
                        <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                                (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                        </div>
                    </div>
                    <form [formGroup]="leaveAssignForm" (ngSubmit)="NewLeaveAssign()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Assign Code</label>
                                </div>
                                <span *ngIf="AssignbuttonId == true ">
                                    <div class="inputdiv" *ngFor="let code of AssignMaxId">
                                        <input placeholder="0{{code.assignid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="AssignbuttonId != true">
                                    <div class="inputdiv">
                                        <input formControlName="assignid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Staff Type<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select
                                        [ngClass]="{'is-invalid':staff_type && staff_type.invalid && staff_type.touched}"
                                        formControlName="staff_type" style="width: 100%;" class="form-control ">
                                        <option value="" selected disabled>Please select</option>
                                        <option value={{StaffType.staffType}} *ngFor="let StaffType of StaffTypeList;">
                                            {{StaffType.staffType}}</option>
                                    </select>
                                    <p class="text-danger m-1"
                                        *ngIf="staff_type && staff_type.invalid && staff_type.touched">
                                        Staff Type is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Staff No<span class="text-danger"> *</span></label>
                                </div>
                                <div class="inputdiv">                                    
                                    <select #st (change)="staffNameChange(st.value)"                                   
                                    formControlName="staff_no" style="width: 100%;" class="form-control ">
                                    <option value='' selected disabled>Please select</option>
                                    <option value={{Staff.staff_no}} *ngFor="let Staff of staffList;">
                                        {{Staff.staff_no}}</option>
                                </select>                                   
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Staff Name<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input readonly formControlName="staff_name" class="form-control" type="text" required>                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">No of Leave<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':leaveAssignForm.controls.no_of_leave.touched && leaveAssignForm.controls.no_of_leave.errors}"
                                        formControlName="no_of_leave" class="form-control" type="number" required>
                                    <span class="text-danger"
                                        *ngIf="leaveAssignForm.controls.no_of_leave.touched && leaveAssignForm.controls.no_of_leave.errors">
                                        <div
                                            *ngIf="leaveAssignForm.controls.no_of_leave.touched && leaveAssignForm.controls.no_of_leave.errors.required">
                                            No of Leave is required
                                        </div>
                                    </span>
                                </div>

                            </div>
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Eligible Per Month<span
                                            class="text-danger"> *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':leaveAssignForm.controls.e_per_mon.touched && leaveAssignForm.controls.e_per_mon.errors}"
                                        formControlName="e_per_mon" class="form-control" type="number" required>
                                    <span class="text-danger"
                                        *ngIf="leaveAssignForm.controls.e_per_mon.touched && leaveAssignForm.controls.e_per_mon.errors">
                                        <div
                                            *ngIf="leaveAssignForm.controls.e_per_mon.touched && leaveAssignForm.controls.e_per_mon.errors.required">
                                            Eligible Per Month is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div formArrayName="leave">
                            <div *ngFor="let chid of leaveAssignForm.get('leave')['controls']; let i = index"
                                formGroupName="{{i}}">
                                <div class="row">
                                    <div class="col-sm-6 mt-3" style="display: flex;">
                                        <div class="labeldiv">
                                            <label class="pt-2" style="margin: auto;">Leave Type <span
                                                    class="text-danger">*</span></label>
                                        </div>
                                        <div class="inputdiv">
                                            <select formControlName="l_type" style="width: 100%;" class="form-control ">
                                                <option value="" selected disabled>Please select</option>
                                                <option value={{leave.type_name}} *ngFor="let leave of LaveTyList;">
                                                    {{leave.type_name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 mt-3" style="display: flex;">
                                        <div class="labeldiv">
                                            <label class="pt-2" style="margin: auto;">Eligble <span
                                                    class="text-danger">*</span></label>
                                        </div>
                                        <div class="inputdiv">
                                            <input formControlName="elgible" class="form-control" type="text">
                                        </div>

                                        <div>
                                            <input class="ml-2 form-control removebutton" type="button"
                                                (click)="removeLeave(i)" value="remove" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <input class="ml-2 form-control addbutton" type="button" (click)="addleave()"
                                    value="Add Leave +" />
                            </div>

                        </div>


                        <div class="col-sm-12 mt-4">
                            <div style="text-align: center;">
                                <input *ngIf="AssignbuttonId == true" matTooltip="Click to Save" type="submit"
                                    style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                <input *ngIf="AssignbuttonId != true" matTooltip="Click to Save" type="submit"
                                    style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                <input matTooltip="Click to Cancel" (click)="AssigncancelClick()" type="button"
                                    style="width: 80px;" class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-8 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Staff Type</th>
                                    <th>Staff Name</th>
                                    <th>No.Of Leave</th>
                                    <th>Eligible Per Month</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let assign of LaveAsList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{assign.staff_type}}</td>
                                    <td>{{assign.staff_name}}</td>
                                    <td>{{assign.no_of_leave}}</td>
                                    <td>{{assign.e_per_mon}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton"
                                            (click)="AssignUpdateGetClick(assign)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="AssigndeleteClick(assign.assignid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>