<div class="container-fluid mt-2">
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Hostel Master</h3>
                    </div>
                </div>
            </div>
            <form [formGroup]="hostelForm" (ngSubmit)="newHostel()">
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Hostel Code</label>
                        </div>
                        <span class="inputdiv" *ngIf="buttonId == true ">
                            <div *ngFor="let code of MaxId">
                                <input placeholder="00{{code.hostelid+1}}" class="form-control" type="text" readonly
                                    required>
                            </div>
                        </span>
                        <span class="inputdiv" *ngIf="buttonId != true">
                            <div>
                                <input formControlName="hostelid" class="form-control" type="text" readonly required>
                            </div>
                        </span>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Hostel Name<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div class="inputdiv">
                            <input [readOnly]="buttonId != true"
                                [ngClass]="{'is-invalid':hostelForm.controls.hostel_name.touched && hostelForm.controls.hostel_name.errors}"
                                formControlName="hostel_name" class="form-control" type="text" required>

                            <span class="text-danger"
                                *ngIf="hostelForm.controls.hostel_name.touched && hostelForm.controls.hostel_name.errors">
                                <div
                                    *ngIf="hostelForm.controls.hostel_name.touched && hostelForm.controls.hostel_name.errors.required">
                                    Hostel Name is required
                                </div>
                                <div
                                    *ngIf="hostelForm.controls.hostel_name.touched && hostelForm.controls.hostel_name.errors.pattern">
                                    Use only letters(A-Z)
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">No Of Rooms<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid':hostelForm.controls.no_of_rooms.touched && hostelForm.controls.no_of_rooms.errors}"
                                formControlName="no_of_rooms" class="form-control" type="number" required>
                            <span class="text-danger"
                                *ngIf="hostelForm.controls.no_of_rooms.touched && hostelForm.controls.no_of_rooms.errors">
                                <div
                                    *ngIf="hostelForm.controls.no_of_rooms.touched && hostelForm.controls.no_of_rooms.errors.required">
                                    No Of Rooms is required
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-0" style="margin: auto;">No of Person allowed in Room<span
                                    class="text-danger"> *</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid':hostelForm.controls.pa_room.touched && hostelForm.controls.pa_room.errors}"
                                formControlName="pa_room" class="form-control" type="number" required>
                            <span class="text-danger"
                                *ngIf="hostelForm.controls.pa_room.touched && hostelForm.controls.pa_room.errors">
                                <div
                                    *ngIf="hostelForm.controls.pa_room.touched && hostelForm.controls.pa_room.errors.required">
                                    No of Person allowed in Room is required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12" style="display: flex;">
                        <div style="margin: auto;">
                            <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                <span> {{ hostelForm.value.hostelid ==0 ? 'Save' :
                                    'Edit'}}</span></button>
                            <input type="button" style="width: 80px;" (click)="cancelClick()"
                                class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                            <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                (click)="backButton()" value="Close" />
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-8 table table-hover table-bordered table-sm  ">
                    <thead>
                        <tr>
                            <th>Si.No</th>
                            <th>Hostel Name</th>
                            <th>No.Of Rooms</th>
                            <th>Allotment Per Room</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hostel of DepartmentList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{hostel.hostel_name}}</td>
                            <td>{{hostel.no_of_rooms}}</td>
                            <td>{{hostel.pa_room}}</td>
                            <td class="tdoption"> <mat-icon (click)="updateGetClick(hostel)"
                                    style="color: blue;cursor: pointer;" class="pr-2">edit</mat-icon>
                                <mat-icon style="color: red;cursor: pointer;" (click)="deleteClick(hostel.hostelid)"
                                    class="pl-2">delete</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>