.example-container {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-side {
  border: 0 !important;
  width: 300px !important;
}

mat-sidenav-content {
  margin-left: 300px !important;
}

._slider {
  background-color: var(--blue);
}

/* Hamburger Menu */
.hamburger-menu {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 -6px;
  left:21px;
  top:4px;
}

.label-hamburger-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s ease;
}

.label-hamburger-menu .bar {
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 1px;
  transition: 0.4s ease;
}

.label-hamburger-menu .bar:not(:first-child) {
  margin-top: 5px;
}

#checkbox-hamburger-menu {
  display: none;
}

#checkbox-hamburger-menu:checked+.label-hamburger-menu {
  transform: translate(-50%, -50%) rotateY(180deg);
}

#checkbox-hamburger-menu:checked+.label-hamburger-menu .bar {
  width: 30px;
  transform: rotateY(180deg) rotateX(360deg);
}

#checkbox-hamburger-menu:checked+.label-hamburger-menu .bar:first-child {
  transform: translateY(9px) rotate(-45deg);
}

#checkbox-hamburger-menu:checked+.label-hamburger-menu .bar:nth-child(2) {
  opacity: 0;
}

#checkbox-hamburger-menu:checked+.label-hamburger-menu .bar:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}

/* Home Section */
.home-section {
  position: relative;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}

.home-section .home-header {
  height: 50px;
  display: flex;
  align-items: center;
  background: #099bf2;
}

.home-section .home-header .title {
  color: white;
  font-size: 35px;
}

.home-section .home-header .title {
  font-size: 26px;
}

.home-section .home-view {
  padding: 16px;
}

.body {
  min-height: auto;
  z-index: 0;
  position: relative;
  transition: all 0.5s ease;
  padding: 1rem;
  overflow-y: auto;
  max-height: 94%;
  height: 100%;
  padding-top: 0px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #099bf2;
  z-index: 0;
  transition: all 0.5s ease;
}

.sidebar.sidebar-close {
  width: 60px;
}

.sidebar .logo-details {
  width: 100%;
  padding: 20px 10px 10px 10px;
}

.sidebar .logo-details .logo {
  height: 40px;
  width: 100%;
}

.sidebar.sidebar-close .logo-details .logo {
  border-radius: 3px;
}

.sidebar .nav-links {
  height: 88%;
  width: 260px;
  padding-bottom: 150px;
  overflow: auto;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  list-style: none;
}

.sidebar .nav-links>li {
  position: relative;
  width: fit-content;
}

.sidebar .nav-links li:hover {
  background: #099bf2;
}

.sidebar .nav-links li.active {
  background-image: linear-gradient(to right, #ffa726, #ff5722);
}

/* Dropdown Title */
.sidebar .nav-links .dropdown-title {
  width: 260px;
  overflow: hidden;
  transition: all 0.52s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.sidebar.sidebar-close .nav-links .dropdown-title {
  width: 60px;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 60px;
  text-align: center;
  line-height: 50px;
  color: #ffa726;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li:hover i,
.sidebar .nav-links li.active i {
  color: white;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

/* a Tag */
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
}

/* Link Name */
.sidebar .nav-links li a .link_name {
  font-size: 16px;
  color: white;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover a .link_name,
.sidebar .nav-links li.active a .link_name {
  color: white;
}

.sidebar.sidebar-close .nav-links li a .link_name {
  pointer-events: none;
}

/* Sub Menu */
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 70px;
  background: var(--blue);
  display: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: white;
  font-size: 15px;
  padding: 7px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu li {
  padding-left: 10px;
}

.sidebar .nav-links li .sub-menu li:hover a,
.sidebar .nav-links li .sub-menu li.active a {
  color: white;
}

.sidebar.sidebar-close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 0;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
  overflow: hidden;
}

.sidebar.sidebar-close .nav-links li .sub-menu li {
  padding: 6px 15px;
  width: 200px;
}

.sidebar.sidebar-close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.sidebar-close .nav-links li .sub-menu .link_name {
  font-size: 16px;
  display: block;
}

.sidebar.sidebar-close .nav-links li .sub-menu li:first-child {
  background: white;
  pointer-events: none;
}

.sidebar.sidebar-close .nav-links li .sub-menu li:first-child:hover .link_name,
.sidebar.sidebar-close .nav-links li .sub-menu li:first-child.active .link_name {
  color: #ffa726;
}

.sidebar .nav-links li .sub-menu.blank {
  pointer-events: auto;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank,
.sidebar .nav-links li.active .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.sidebar-close~.home-section {
  left: 60px;
  width: calc(100% - 60px);
}

.nav-links {
  padding: 0 !important;
}

.cdk-overlay-connected-position-bounding-box {
  margin-top: -14px;
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
  top: 43px;
}

@media (max-width: 420px) {
  .sidebar.sidebar-close .nav-links li .sub-menu {
    display: none;
  }
}



// mat-toolbar {
//   background-color: #004a9f;
//   color: white;
// }

// mat-sidenav {
//   margin: 16px;
//   width: 200px;
//   border-right: none;
//   background: #002b5c;
//   border-radius: 10px;
//   padding: 16px;
//   text-align: center;
// }

// mat-sidenav-container {
//   height: calc(100vh - 65px);
// }

// .content {
//   height: calc(100vh - 98px);
//   margin: 16px;
//   margin-left: 32px;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   font-size: 2rem;
//   color: lightblue;
//   border-radius: 10px;
// }


@media only screen and  (max-width:450px){
  

.hamburger-menu{
  left: 15px;
  top:0;
  display: none;
}
  #SchoolTitle{
    display: none;
  }
  #UserName{
    display:none;
  }
  // #HomeHeader{

  // }
  #BackUP{
position: absolute;
  }

  .sidebar{
    width: 20px;
  }
  .sidebar,.nav-links ,.dropdown-title {
    width:0px;
  }
}