<mat-tab-group animationDuration="0ms">
    <mat-tab label="Fees Less">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Fees Less</h3>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="feesLessForm" (ngSubmit)="NewFeesLess()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Fees Less Code</label>
                                </div>
                                <span *ngIf="buttonIdLess == true ">
                                    <div class="inputdiv" *ngFor="let code of MaxIdLess">
                                        <input placeholder="000{{code.fees_lessid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="buttonIdLess != true">
                                    <div class="inputdiv">
                                        <input formControlName="fees_lessid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Fees Less Category <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid':feesLessForm.controls.less_type.touched && feesLessForm.controls.less_type.errors}"
                                        formControlName="less_type" class="form-control" type="tel" required>
                                    <span class="text-danger"
                                        *ngIf="feesLessForm.controls.less_type.touched && feesLessForm.controls.less_type.errors">
                                        <div
                                            *ngIf="feesLessForm.controls.less_type.touched && feesLessForm.controls.less_type.errors.required">
                                            Fees Less Category is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 350px;">
                                    <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                        <span> {{ feesLessForm.value.fees_lessid ==0 ? 'Save' :
                                            'Edit'}}</span></button>
                                    <input type="button" style="width: 80px;" (click)="cancelClickLess()"
                                        class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                                    <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                        (click)="backButton()" value="Close" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive ">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Fees Less Category</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let less of FeesLessList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{less.less_type}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton"
                                            (click)="udateGetClickLess(less)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="deleteClickLess(less.fees_lessid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Special Fees Assign">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Special Fees Assign</h3>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="specialFeesForm" (ngSubmit)="specialFeesSave()">
                        <div class="row">
                            <div class="col-sm-3 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Class<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select required
                                        [ngClass]="{'is-invalid': specialFeesForm.get('classid')?.touched && specialFeesForm.get('classid')?.errors}"
                                        formControlName="classid" style="width: 100%;" #t
                                        (change)="filterGroupfun(t.value)" class="form-control " name="selectAction">
                                        <option value=null selected disabled>Please select</option>
                                        <option value={{class.classid}} *ngFor="let class of ClassList;">
                                            {{class.class_name}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="specialFeesForm.get('classid')?.touched && specialFeesForm.get('classid')?.errors">Class
                                        name is required</span>
                                </div>
                            </div>

                            <div class="col-sm-3 mt-3" style="display: flex;" *ngIf="groupFilterlist.length !=0">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Group Name</label>
                                </div>
                                <div class="inputdiv">
                                    <select formControlName="groupid" style="width: 100%;" #s class="form-control ">
                                        <option value=0 selected disabled>Please select</option>
                                        <option [ngValue]="group.groupid" *ngFor="let group of groupFilterlist;">
                                            {{group.group_name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Fees Less<span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select
                                        [ngClass]="{'is-invalid':specialFeesForm.controls.fees_lessid.touched && specialFeesForm.controls.fees_lessid.errors}"
                                        formControlName="fees_lessid" style="width: 100%;" class="form-control"
                                        required>
                                        <option value='' selected disabled>Please select</option>
                                        <option [ngValue]="item.fees_lessid" *ngFor="let item of FeesLessList;">
                                            {{item.less_type}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="specialFeesForm.controls.fees_lessid.touched && specialFeesForm.controls.fees_lessid.errors">
                                        <div
                                            *ngIf="specialFeesForm.controls.fees_lessid.touched && specialFeesForm.controls.fees_lessid.errors.required">
                                            Fees Less is required
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-3 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Batch Year<span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input
                                        [ngClass]="{'is-invalid': specialFeesForm.controls.batch_year.touched && specialFeesForm.controls.batch_year.errors}"
                                        formControlName="batch_year" class="form-control" type="text" readonly required>
                                    <span class="text-danger"
                                        *ngIf="specialFeesForm.controls.batch_year.touched && specialFeesForm.controls.batch_year.errors">
                                        <div
                                            *ngIf="specialFeesForm.controls.batch_year.touched && specialFeesForm.controls.batch_year.errors.required">
                                            Batch Year is required ! Please Visit Batch Year Page
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-3 mt-3" style="display: flex;">
                                <div style="float: left;width: 100px;">
                                    <button type="button" (click)="listFeesType()"
                                        class="btn btn-secondary btn-sm">Search<i
                                            class="fa fa-search ml-2"></i></button>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="specialFeesForm.value.s_feesList.length !=0" class="table-responsive mt-4">
                            <table class="col-sm-10 table table-hover table-bordered table-sm  ">
                                <thead>
                                    <tr>
                                        <th>Si.No</th>
                                        <th>Fees Type</th>
                                        <th>General Fees Male</th>
                                        <th>General Fees Female</th>
                                        <th>Special Fees Male</th>
                                        <th>Same to female</th>
                                        <th>Special Fees Female</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="s_feesList">
                                    <tr *ngFor="let chid of specialFeesForm.get('s_feesList')['controls']; let i = index"
                                        formGroupName="{{i}}">
                                        <td class="pt-3">{{i+1}}</td>
                                        <td class="pt-3">{{chid.get('type_name').value}}</td>
                                        <td class="pt-3">{{chid.get('male_amount').value}}</td>
                                        <td class="pt-3">{{chid.get('female_amount').value}}
                                        </td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <input (keypress)="numberOnly($event)" (change)="validateWhite(i)"
                                                    type="text" class="form-control" formControlName="s_male_amount">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="pt-3"><input style="width: 20px;height: 20px;"
                                                (click)="sameFemaleAmount(i,$event)" type="checkbox">
                                        <td>
                                            <div class="input-group mb-3">
                                                <input (keypress)="numberOnly($event)" (change)="fevalidateWhite(i)"
                                                    type="text" class="form-control" formControlName="s_female_amount">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div *ngIf="specialFeesForm.value.s_feesList.length !=0" class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 350px;">
                                    <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                        <span> {{ specialFeesForm.value.s_assignid ==0 ? 'Save' :
                                            'Edit'}}</span></button>
                                    <input type="button" (click)="specialFeesCancel()" style="width: 80px;"
                                        class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                                    <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                        (click)="backButton()" value="Close" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-12 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Claas Name</th>
                                    <th>Group Name</th>
                                    <th>Batch Year</th>
                                    <th>Fees Less</th>
                                    <th>Fee Type</th>
                                    <th style="background-color: blue;color: white;">General Fees Male</th>
                                    <th style="background-color: blue;color: white;">Deduction %</th>
                                    <th style="background-color: blue;color: white;">Deduction Amt</th>
                                    <th style="background-color: blue;color: white;">Payable Amt</th>
                                    <th style="background-color: rgb(241, 15, 140);color: white;">General Fees Female
                                    </th>
                                    <th style="background-color: rgb(241, 15, 140);color: white;">Deduction %</th>
                                    <th style="background-color: rgb(241, 15, 140);color: white;">Deduction Amt</th>
                                    <th style="background-color: rgb(241, 15, 140);color: white;">Payable Amt</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of specialFeesList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{item.class_name}}</td>
                                    <td>{{item.group_name}}</td>
                                    <td>{{item.batch_year}}</td>
                                    <td>{{item.less_type}}</td>
                                    <td>{{item.type_name}}</td>
                                    <td style="color: blue;">{{item.male_amount}}</td>
                                    <td style="color: blue;">{{item.s_male_amount}}%</td>
                                    <td style="color: blue;">{{item.maledeamount}}</td>
                                    <td style="color: blue;">{{+item.male_amount - +item.maledeamount}}</td>
                                    <td style="color: rgb(241, 15, 140);">{{item.female_amount}}</td>
                                    <td style="color: rgb(241, 15, 140);">{{item.s_female_amount}}%</td>
                                    <td style="color: rgb(241, 15, 140);">{{item.femaledeamount}}</td>
                                    <td style="color: rgb(241, 15, 140);">{{+item.female_amount - +item.femaledeamount}}
                                    </td>
                                    <td> <span (click)="specialFeesUpdate(item)"
                                            class="m-2 editbutton"><b>edit</b></span>
                                        <span>||</span>
                                        <span (click)="specialDelete(item.s_assignid)"
                                            class="m-2 deletebutton"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>