<mat-tab-group #tabGroup animationDuration="0ms">
    <mat-tab label="Process Type">
        <div class="container-fluid mt-1">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;width: 400px;">
                        <h3 class="ml-1">Process Type</h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form [formGroup]="vehicleProcessTypeForm" (ngSubmit)="newProcessType()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Role Code</label>
                                </div>
                                <span class="inputdiv" *ngIf="vehicleProcessTypeForm.value.processid == 0 ">
                                    <div *ngFor="let code of MaxId">
                                        <input placeholder="00{{code.processid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span class="inputdiv" *ngIf="vehicleProcessTypeForm.value.processid != 0">
                                    <div>
                                        <input formControlName="processid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Process Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input
                                        [ngClass]="{'is-invalid':vehicleProcessTypeForm.controls.process_name.touched && vehicleProcessTypeForm.controls.process_name.errors}"
                                        formControlName="process_name" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 350px;">
                                    <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                        <span> {{ vehicleProcessTypeForm.value.processid ==0 ? 'Save' :
                                            'Edit'}}</span></button>
                                    <input type="button" style="width: 80px;" (click)="cancelClick()"
                                        class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                                    <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                        (click)="backButton()" value="Close" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive ">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Process Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let type of processTypeList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{type.process_name}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton" (click)="udateGetClick(type)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="deleteClick(type.processid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Vehicle Details">
        <div class="container-fluid mt-1">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;width: 400px;">
                        <h3 class="ml-1">Vehicle Details</h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form [formGroup]="vehicleDetailsForm" (ngSubmit)="newDetailsType()">
                        <div class="row">
                            <div class="col-sm-3 mt-3" style="margin: auto;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Vehicle No <span class="text-danger">*</span></label>
                                </div>
                                <select
                                    [ngClass]="{'is-invalid':vehicleDetailsForm.controls.vehicle_no_id.touched && vehicleDetailsForm.controls.vehicle_no_id.errors}"
                                    formControlName="vehicle_no_id" class="form-control" required>
                                    <option value=null selected disabled>Please select</option>
                                    <option [ngValue]="Vehi.vehicle_no_id" *ngFor="let Vehi of vehicleNoRootList;">
                                        {{Vehi.vehicle_no}}
                                    </option>
                                </select>
                                <span class="text-danger"
                                    *ngIf="vehicleDetailsForm.controls.vehicle_no_id.touched && vehicleDetailsForm.controls.vehicle_no_id.errors">
                                    <div
                                        *ngIf="vehicleDetailsForm.controls.vehicle_no_id.touched && vehicleDetailsForm.controls.vehicle_no_id.errors.required">
                                        Vehicle No is required
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="table-responsive mt-5">
                            <table class="col-sm-12 table table-hover table-bordered table-sm ">
                                <thead>
                                    <tr>
                                        <th>Si.No</th>
                                        <th>Type of process<span class="text-danger">*</span></th>
                                        <th>From</th>
                                        <th>Date</th>
                                        <th>To the Renewal/Pay</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td style="width: 240px;"> <select
                                                [ngClass]="{'is-invalid':vehicleDetailsForm.controls.processid.touched && vehicleDetailsForm.controls.processid.errors}"
                                                formControlName="processid" class="form-control" required>
                                                <option value=null selected disabled>Please select</option>
                                                <option [ngValue]="Vehi.processid"
                                                    *ngFor="let Vehi of processTypeList;">
                                                    {{Vehi.process_name}}
                                                </option>
                                            </select>
                                            <span class="text-danger"
                                                *ngIf="vehicleDetailsForm.controls.processid.touched && vehicleDetailsForm.controls.processid.errors">
                                                <div
                                                    *ngIf="vehicleDetailsForm.controls.processid.touched && vehicleDetailsForm.controls.processid.errors.required">
                                                    Type of process is required
                                                </div>
                                            </span>
                                        </td>
                                        <td style="width: 240px;"><input formControlName="v_from" class="form-control"
                                                type="text"></td>
                                        <td style="width: 160px;"><input formControlName="f_date" class="form-control"
                                                type="date"></td>
                                        <td style="width: 240px;"><input formControlName="renewal" class="form-control"
                                                type="text"></td>
                                        <td style="width: 160px;"><input formControlName="r_date" class="form-control"
                                                type="date"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-sm-12">
                            <div style="text-align: center;">
                                <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                    <span> {{ vehicleDetailsForm.value.detailsid ==0 ? 'Save' :
                                        'Edit'}}</span></button>
                                <input type="button" (click)="detilCancelClick()" style="width: 80px;"
                                    class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                                <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                    (click)="backButton()" value="Close" />
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive ">
                        <table class="col-sm-12 table table-hover table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Vehicle NO</th>
                                    <th>Process Type</th>
                                    <th>From</th>
                                    <th>Date</th>
                                    <th>To the Renewal/Pay</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of vehicleDetailsList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{detail.vehicle_no}}</td>
                                    <td>{{detail.process_name}}</td>
                                    <td>{{detail.v_from}}</td>
                                    <td>{{detail.f_date}}</td>
                                    <td>{{detail.renewal}}</td>
                                    <td>{{detail.r_date}}</td>
                                    <td class="tdoption">
                                        <span (click)="detailUpdateClick(detail)"
                                            class="m-2 editbutton"><b>edit</b></span>
                                        <span>||</span>
                                        <span (click)="deleteDetailsClick(detail.detailsid)" class="m-2 deletebutton"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>