<mat-tab-group animationDuration="0ms">
    <mat-tab label="All Students">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div class="inputdiv">
                        <h3 class="ml-1">Student TC/Left/Long Absent</h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-2">
                <mat-card-content>
                    <form [formGroup]="studentTcApplyForm" (ngSubmit)="newTcApplyAll()">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="row ">
                                    <div class="col-sm-12 mt-3" style="display: flex;">
                                        <div class="labeldiv">
                                            <label class="pt-2" style="margin: auto;">Batch</label>
                                        </div>
                                        <div class="inputdiv">
                                            <select  formControlName="batch_year" style="width: 100%;"
                                                class="form-control " name="selectAction">
                                                <option value=0 selected disabled>Please select</option>
                                                <option [ngValue]="batch.batch_year" *ngFor="let batch of BatchList;">
                                                    {{batch.batch_year}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 mt-3" style="display: flex;">
                                        <div class="labeldiv">
                                            <label class="pt-2" style="margin: auto;">Class</label>
                                        </div>
                                        <div class="inputdiv">
                                            <select formControlName="classid" style="width: 100%;" #t
                                                (change)="filterGroupfun(t.value)" class="form-control "
                                                name="selectAction">
                                                <option value=0 selected disabled>Please select</option>
                                                <option value={{class.classid}} *ngFor="let class of ClassList;">
                                                    {{class.class_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" *ngIf="groupFilterlist.length != 0">
                                    <div class="col-sm-12 mt-3" style="display: flex;">
                                        <div class="labeldiv">
                                            <label class="pt-2" style="margin: auto;">Group</label>
                                        </div>
                                        <div class="inputdiv">
                                            <select formControlName="groupid" style="width: 100%;" #s
                                                (change)="filterSectionfun(s.value)" class="form-control "
                                                name="selectAction">
                                                <option value=0 selected disabled>Please select</option>
                                                <option value={{group.groupid}} *ngFor="let group of groupFilterlist;">
                                                    {{group.group_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-sm-12 mt-3" style="display: flex;">
                                        <div class="labeldiv">
                                            <label class="pt-2" style="margin: auto;">Section</label>
                                        </div>
                                        <div class="inputdiv">
                                            <select (change)="searchStudentByClass()" formControlName="sectionid" style="width: 100%;"
                                                class="form-control " name="selectAction">
                                                <option value=0 selected disabled>Please select</option>
                                                <option [ngValue]="section.sectionid"
                                                    *ngFor="let section of sectionFilterlist;">
                                                    {{section.section_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-sm-12 mt-3" style="display: flex;">
                                        <div class="labeldiv">
                                            <label class="pt-2" style="margin: auto;">Admission No</label>
                                        </div>
                                        <div class="inputdiv">
                                            <select formControlName="search_ad" #p (change)="profileCard(p.value)"
                                                class="form-control" style="width: 100%;">
                                                <option value=0 selected disabled>Please Select</option>
                                                <option value={{student.admission_no}}
                                                    *ngFor="let student of studentList;">
                                                    {{student.admission_no}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>                                
                            </div>

                            <div class="col-sm-7">
                                <div *ngFor="let student of filterstudentList" class="col-sm-12">
                                    <mat-card style="background-color: rgb(195, 155, 233);" class="mt-2">
                                        <mat-card-content style="display: flex;width: 100%;">
                                            <div class="col-sm-12 row " style="font-size: 15px;">
                                                <div style="float: left;" class="col-sm-6 mt-3">
                                                    <label style="color:white;text-align: right;">Admission
                                                        No - </label><label
                                                        style="color:blue;text-align: left;padding-left:5px ;">
                                                        {{student.admission_no}}</label>
                                                </div>
                                                <div style="float: left;" class="col-sm-6 mt-3">
                                                    <label style="color:white;text-align: right;">Name:</label><label
                                                        style="color:blue;text-align: left;padding-left:5px ;">{{student.student_name}}</label>
                                                </div>
                                                <div style="float: left;" class="col-sm-6 mt-3">
                                                    <label style="color:white;text-align: right;">DOB:</label><label
                                                        style="color:blue;text-align: left;padding-left:5px ;">{{student.dob
                                                        |
                                                        date: 'MM/dd/yyyy'}}</label>
                                                </div>

                                                <div style="float: left;" class="col-sm-6 mt-3">
                                                    <label style="color:white;text-align: right;">Gender:</label><label
                                                        style="color:blue;text-align: left;padding-left:5px ;">{{student.gender}}</label>
                                                </div>

                                                <div style="float: left;" class="col-sm-6 mt-3">
                                                    <label style="color:white;text-align: right;">Aadhar
                                                        No:</label><label
                                                        style="color:blue;text-align: left;padding-left:5px ;">{{student.aadhar}}</label>
                                                </div>

                                                <div style="float: left;" class="col-sm-6 mt-3">
                                                    <label style="color:white;text-align: right;">EMIS
                                                        No:</label><label
                                                        style="color:blue;text-align: left;padding-left:5px ;">{{student.emis_no}}</label>
                                                </div>
                                                <div style="float: left;" class="col-sm-6 mt-3">
                                                    <label style="color:white;text-align: right;">Class:</label><label
                                                        style="color:blue;text-align: left;padding-left:5px ;">{{student.class_name}}</label>
                                                </div>

                                                <div style="float: left;" class="col-sm-6 mt-3">
                                                    <label style="color:white;text-align: right;">Father
                                                        Name:</label><label
                                                        style="color:blue;text-align: left;padding-left:5px ;">{{student.father_name}}</label>
                                                </div>
                                                <div style="float: left;" class="col-sm-6 mt-3">
                                                    <label style="color:white;text-align: right;">Mother
                                                        Name:</label><label
                                                        style="color:blue;text-align: left;padding-left:5px ;">{{student.mother_name}}</label>
                                                </div>
                                                <div style="float: left;" class="col-sm-6 mt-3">
                                                    <label style="color:white;text-align: right;">Batch:</label><label
                                                        style="color:blue;text-align: left;padding-left:5px ;">{{student.batch_year}}</label>
                                                </div>
                                                <input class="addbutton form-control mt-1" type="button" (click)="addleave(student.admission_no)"
                                                value="Add +" />
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive text-nowrap mt-5">
                            <table formArrayName="leftdetails"
                                class="col-sm-12 table table-hover table-bordered table-sm  ">
                                <thead>
                                    <tr>
                                        <th>Si.No</th>
                                        <th>A.NO</th>
                                        <th>Type</th>
                                        <th>TC.NO</th>
                                        <th>Date</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody
                                    *ngFor="let chid of studentTcApplyForm.get('leftdetails')['controls']; let i = index"
                                    formGroupName="{{i}}">
                                    <tr>
                                        <td><span class="mt-2">{{i+1}}</span></td>
                                        <td><input readonly #a (click)="search(a.value)" formControlName="admission_no" type="text" style="width: 200px;"
                                            class="form-control" /></td>
                                        <td>
                                            <select formControlName="type" class="form-control" style="width: 150px;">
                                                <option value="" selected disabled>Please Select</option>
                                                <option value="Left">Left</option>
                                                <option value="Long Absent">Long Absent</option>
                                                <option value="TC">TC</option>
                                            </select>
                                        </td>
                                        <td><input formControlName="tcno" style="width: 110px;" class="form-control" />
                                        </td>
                                        <td><input formControlName="date" type="date" class="form-control" /></td>
                                        <td><input formControlName="remarks" type="text" style="width: 200px;"
                                                class="form-control" /></td>

                                        <td>
                                            <div>
                                                <input class="removebutton form-control" type="button"
                                                    (click)="removeLeave(i)" value="remove" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <div>
                                    <!-- <input class="addbutton form-control mt-1" type="button" (click)="addleave()"
                                        value="Add +" /> -->
                                </div>
                            </table>
                        </div>
                        <div class="col-sm-12 mt-4">
                            <div style="text-align: center;">
                                <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                    class="btn btn-primary mr-3 btn-sm" value="Save" />
                                <input matTooltip="Click to Cancel" (click)="CancelClickInAll()" type="button"
                                    style="width: 80px;" class="btn btn-danger btn-sm mr-2" value="Cancel" />
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Individual Student">
        <div class="container-fluid mt-4 mb-2">
            <mat-card class="mt-2 matcard">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Student TC/Left/Long Absent</h3>
                            </div>
                        </div>
                        <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                                (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 mt-3">
                            <form [formGroup]="oneStudentTcLeftForm" (ngSubmit)="newTcApply()">
                                <div class="row">
                                    <div class="col-sm-12" style="display: flex;">
                                        <div class="labeldiv">
                                            <label class="pt-2" style="margin: auto;">Admission No</label>
                                        </div>
                                        <div class="inputdiv">
                                            <input [readonly]="serachDisabledone == true" formControlName="admission_no"
                                                class="form-control" type="text">
                                        </div>
                                    </div>

                                    <div class="col-sm-12 ml-5">
                                        <div style="text-align: center;">
                                            <button matTooltip="Click to Search" type="button"
                                                (click)="searchStudentByAdNo()"
                                                class="btn btn-primary btn-sm mt-3">Search<i
                                                    class="fa fa-search ml-2"></i></button>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 mt-3" style="display: flex;">
                                        <div class="labeldiv">
                                            <label class="pt-2">Type</label>
                                        </div>
                                        <div class="inputdiv">
                                            <select style="width: 100%;" formControlName="type" class="form-control "
                                                name="selectAction">
                                                <option value="" selected disabled>Please select</option>
                                                <option value="Left">Left</option>
                                                <option value="Long Absent">Long Absent</option>
                                                <option value="TC">TC</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div *ngIf="oneStudentTcLeftForm.value.type == 'TC'" style="display: flex;"
                                        class="col-sm-12 mt-4">
                                        <div class="labeldiv">
                                            <label class="pt-2" style="margin: auto;">Tc No</label>
                                        </div>
                                        <div class="inputdiv">
                                            <input formControlName="tcno" class="form-control" type="text" required>
                                        </div>
                                    </div>

                                    <div style="display: flex;" class="col-sm-12 mt-4">
                                        <div class="labeldiv">
                                            <label class="pt-2" style="margin: auto;">Date</label>
                                        </div>
                                        <div class="inputdiv">
                                            <input formControlName="date" [value]="today" class="form-control"
                                                type="date" required>
                                        </div>
                                    </div>

                                    <div style="display: flex;" class="col-sm-12 mt-4">
                                        <div class="labeldiv">
                                            <label class="pt-2" style="margin: auto;">Remarks</label>
                                        </div>
                                        <div class="inputdiv">
                                            <input formControlName="remarks" class="form-control" type="text" required>
                                        </div>
                                    </div>

                                    <div class="ml-5 col-sm-12" style="text-align: center;">
                                        <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                            class="btn btn-primary mr-3 btn-sm mt-3" value="Save" />
                                        <input matTooltip="Click to Cancel" type="button" (click)="CancelClickInTc()"
                                            style="width: 80px;" class="btn btn-danger btn-sm mr-2 mt-3"
                                            value="Cancel" />
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div *ngFor="let student of studentListByAd" class="col-sm-7  mt-3">
                            <mat-card style="background-color: rgb(195, 155, 233);" class="mt-2">
                                <mat-card-content style="display: flex;width: 100%;">
                                    <div class="col-sm-12 row " style="font-size: 15px;">
                                        <div style="float: left;" class="col-sm-6 mt-3">
                                            <label style="color:white;text-align: right;">Admission
                                                No - </label><label
                                                style="color:blue;text-align: left;padding-left:5px ;">
                                                {{student.admission_no}}</label>
                                        </div>
                                        <div style="float: left;" class="col-sm-6 mt-3">
                                            <label style="color:white;text-align: right;">Name:</label><label
                                                style="color:blue;text-align: left;padding-left:5px ;">{{student.student_name}}</label>
                                        </div>
                                        <div style="float: left;" class="col-sm-6 mt-3">
                                            <label style="color:white;text-align: right;">DOB:</label><label
                                                style="color:blue;text-align: left;padding-left:5px ;">{{student.dob |
                                                date: 'MM/dd/yyyy'}}</label>
                                        </div>

                                        <div style="float: left;" class="col-sm-6 mt-3">
                                            <label style="color:white;text-align: right;">Gender:</label><label
                                                style="color:blue;text-align: left;padding-left:5px ;">{{student.gender}}</label>
                                        </div>

                                        <div style="float: left;" class="col-sm-6 mt-3">
                                            <label style="color:white;text-align: right;">Aadhar
                                                No:</label><label
                                                style="color:blue;text-align: left;padding-left:5px ;">{{student.aadhar}}</label>
                                        </div>

                                        <div style="float: left;" class="col-sm-6 mt-3">
                                            <label style="color:white;text-align: right;">EMIS
                                                No:</label><label
                                                style="color:blue;text-align: left;padding-left:5px ;">{{student.emis_no}}</label>
                                        </div>
                                        <div style="float: left;" class="col-sm-6 mt-3">
                                            <label style="color:white;text-align: right;">Class:</label><label
                                                style="color:blue;text-align: left;padding-left:5px ;">{{student.class_name}}</label>
                                        </div>

                                        <div style="float: left;" class="col-sm-6 mt-3">
                                            <label style="color:white;text-align: right;">Father
                                                Name:</label><label
                                                style="color:blue;text-align: left;padding-left:5px ;">{{student.father_name}}</label>
                                        </div>
                                        <div style="float: left;" class="col-sm-6 mt-3">
                                            <label style="color:white;text-align: right;">Mother
                                                Name:</label><label
                                                style="color:blue;text-align: left;padding-left:5px ;">{{student.mother_name}}</label>
                                        </div>
                                        <div style="float: left;" class="col-sm-6 mt-3">
                                            <label style="color:white;text-align: right;">Batch:</label><label
                                                style="color:blue;text-align: left;padding-left:5px ;">{{student.batch_year}}</label>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>