<div class="pt-3" style="height: 50px">
  <div class="title" translate>User details</div>
</div>

<div class="card">
  <div class="card-body">
    <form [formGroup]="userForm" autocomplete="off">
      <div class="main_layout">
        <div fxLayout="column" class="first_row">
          <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input
              matInput
              formControlName="mobileNumber"
              placeholder="Mobile Number"
              [maxLength]="10"
              [minLength]="10"
              (keypress)="numberOnly($event)" 
              #mobileno
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
              placeholder="Email Address"
              class="form-input-field"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              #email
              required
            />
          </mat-form-field>
        </div>
        <div fxLayout="column" class="second_row">
          <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
              [maxLength]="16"
              [minLength]="8"
              #passwrd
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>confirm password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              #conpasswr
              required
            />
          </mat-form-field>
        </div>
        <div fxLayout="column" class="third_row">
          <mat-form-field appearance="outline">
            <mat-label>User Type</mat-label>
            <input
              matInput
              placeholder="User Type"
              formControlName="userType"
              #usertype
              required
            />
          </mat-form-field>
          <div class="button_size">
            <button mat-raised-button class="btn mat-success" (click)="Save()" style="width:150px;"  >
              create
            </button>
            <div class="pl-1">
              <button class="btn mat-warn-btn" style="width:150px;" routerLink="/app/dashboard">close</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

 <!--<div class="card">
      <div class="card-body">
  
    <mat-form-field appearance="outline" style="width: 35%">
      <mat-label>{{ "search" | }}</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="{{'search' | translate}}"
        #input
      />
    </mat-form-field>
  
    <table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="width: 100%"
  >
    <ng-container matColumnDef="position">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mobile-label"
      >
      {{ "s_no" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>
  
    <ng-container matColumnDef="mobileNumber">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mobile-label"
      >
      {{ "new_loan.mobile_number" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.employeeId }}</td>
    </ng-container>
  
    <ng-container matColumnDef="emailId">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mobile-label"
      >
      {{ "employee.email" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.employeeName }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="userType">
      <th mat-header-cell *matHeaderCellDef class="mobile-label">
        {{ "user_type" | translate }}
      </th>
      <td mat-cell *matCellDef="let element" class="mobile-label">
        {{ element.employeePhoneNumber }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="lastLogin">
      <th mat-header-cell *matHeaderCellDef>  {{ "last_login" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.guardianName }}
      </td>
    </ng-container>
  
   
  
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef class="mobile-label">
        {{ "status" }}
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle
          [checked]="isChecked(element.action)"
        >
          {{
            element.action == "Active" ? "Active" : "InActive"
          }}</mat-slide-toggle
        >
      </td>
    </ng-container>
  
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef class="mobile-label">
        {{ "action" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="iconbutton" color="primary">
          <mat-icon
            svgIcon="roundEdit"
            matTooltip="Edit"
            (click)="edit(element.position)"
          ></mat-icon>
          <mat-icon
            style="padding-left: 2px"
            svgIcon="roundDelete"
            matTooltip="Delete"
            (click)="remove(element.position)"
          ></mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
    </div>
  </div> 
-->
<br>
  <div class="card">
    <div class="card-body">
    <table mat-table [dataSource] = "dataSource" class = "mat-elevation-z8"> 
      <ng-container matColumnDef = "no">
        <th mat-header-cell *matHeaderCellDef> S.no </th>
        <td mat-cell *matCellDef = "let element"> {{element.no}} </td>
     </ng-container>
      <ng-container matColumnDef = "mobile">
         <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
         <td mat-cell *matCellDef = "let element"> {{element.mobile}} </td>
      </ng-container>
      <ng-container matColumnDef = "email">
         <th mat-header-cell *matHeaderCellDef> Email </th>
         <td mat-cell *matCellDef = "let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef = "password">
         <th mat-header-cell *matHeaderCellDef>Password</th>
         <td mat-cell *matCellDef = "let element"> {{element.password}} </td>
      </ng-container>
      <ng-container matColumnDef = "cpassword">
        <th mat-header-cell *matHeaderCellDef>Confirm Password</th>
        <td mat-cell *matCellDef = "let element"> {{element.cpassword}} </td>
     </ng-container>
     <ng-container matColumnDef = "status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef = "let column"> 
        <mat-checkbox> Active </mat-checkbox>
      </td>
    </ng-container>
    <ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef = "let column">
            <span style="cursor: pointer">
              <mat-icon
                class="icons"
                svgIcon="roundEdit"
                matTooltip="Edit"
                (click)="edit()"   
              ></mat-icon>
            </span>
            <span style="cursor: pointer">
              <mat-icon
                class="icons"
                style="padding-left: 2px"
                svgIcon="roundDelete"
                matTooltip="Delete"
                (click)="delete()"
              ></mat-icon>
            </span>
          </td>
          

      </ng-container>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
      <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
   </table>
   
  </div>
  </div>