<div class="container-fluid">
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Subject Master</h3>
                    </div>
                </div>
            </div>
            <form #AssignForm="ngForm" [formGroup]="subjectForm" (ngSubmit)="newSubject()">
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Subject Code</label>
                        </div>
                        <span *ngIf="buttonId == true ">
                            <div class="inputdiv" *ngFor="let code of MaxId">
                                <input placeholder="0{{code.subjectid+1}}" class="form-control" type="text" readonly>
                            </div>
                        </span>
                        <span *ngIf="buttonId != true">
                            <div class="inputdiv">
                                <input formControlName="subjectid" class="form-control" type="text" readonly>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Subject Name <span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid':subjectForm.controls.subject_name.touched && subjectForm.controls.subject_name.errors}"
                                formControlName="subject_name" class="form-control" type="tel" required>
                            <span class="text-danger"
                                *ngIf="subjectForm.controls.subject_name.touched && subjectForm.controls.subject_name.errors">
                                <div
                                    *ngIf="subjectForm.controls.subject_name.touched && subjectForm.controls.subject_name.errors.required">
                                    Subject Name is required
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <input style="height: 15px; width: 15px;" type="checkbox" formControlName="selectAll"
                            (change)="toggleAllCheckboxes()"> <span class="ml-2" style="color: blue;"> Select All</span>

                        <div formArrayName="classidArray" class="row col-sm-8 mt-3" style="display: flex;">
                            <div *ngFor="let chid of subjectForm.get('classidArray')['controls']; let i = index"
                                formGroupName="{{i}}" style="float: left;text-align: left; width:200px;"
                                class="col-sm-4 mt-4 ">
                                <div style="float: left;text-align: left;">
                                    <input (change)="updateSelectAllCheckbox()" formControlName="selected"
                                        style="height: 15px;width: 15px;" type="checkbox">
                                </div>
                                <div style="float: left;text-align: left;" class="ml-2">
                                    {{chid.get('class_name').value}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-5 mt-3" style="display: block;">
                        <div class="form-check mt-3">
                            <input style="width: 25px;height: 25px;" type="radio" class="form-check-input"
                                formControlName="practical_status" value="Non Practical Subject" checked>
                            <label class="form-check-label p-2">Non Practical Subject</label>
                        </div>
                        <div class="form-check mt-3">
                            <input style="width: 25px;height: 25px;" type="radio" class="form-check-input"
                                formControlName="practical_status" value="Practical Subject">
                            <label class="form-check-label p-2">Practical Subject</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                        </div>
                        <div style="float: left;width: 350px;">
                            <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                <span> {{ subjectForm.value.subjectid ==0 ? 'Save' :
                                    'Edit'}}</span></button>
                            <input type="button" style="width: 80px;" (click)="cancelClick()"
                                class="btn btn-primary mr-3 btn-sm mt-4" value="Clear" />
                            <input type="button" style="width: 80px;" class="btn btn-danger btn-sm mt-4"
                                (click)="backButton()" value="Close" />
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                    <thead>
                        <tr>
                            <th>Si.No</th>
                            <th>Subject Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subject of subjectDetailList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{subject.subject_name}}</td>
                            <td class="tdoption">
                                <span class="m-2 editbutton" (click)="udateGetClick(subject)"><b>edit</b></span>
                                <span>||</span>
                                <span class="m-2 deletebutton"
                                    (click)="deleteClick(subject.subjectid)"><b>delete</b></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>