<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="display: flex;">
            <div class="inputdiv">
                <h3 class="ml-1">Student Promote</h3>
            </div>
        </div>
    </div>
    <mat-card class="mt-2 matcard">
        <mat-card-content>
            <form>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label for="ex2" class="pt-2" style="margin: auto;">Class</label>
                        </div>
                        <div class="inputdiv">
                            <select style="width: 100%;" class="form-control " name="selectAction">
                                <option>1-St</option>
                                <option>2-Nd</option>
                                <option>10-Th</option>
                                <option>11-Th</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label for="ex2" class="pt-2" style="margin: auto;">Group</label>
                        </div>
                        <div class="inputdiv">
                            <select style="width: 100%;" class="form-control " name="selectAction">
                                <option>Maths-Biology</option>
                                <option>ComputerScience</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label for="ex2" class="pt-2" style="margin: auto;">Section</label>
                        </div>
                        <div class="inputdiv">
                            <select style="width: 100%;" class="form-control " name="selectAction">
                                <option>A</option>
                                <option>B</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label for="ex2" class="pt-2" style="margin: auto;">Batch</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label for="ex2" class="pt-2" style="margin: auto;">Date</label>
                        </div>
                        <div class="inputdiv">
                            <input placeholder="Enter 10-th Mark" [value]="today" class="form-control" type="date" required>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mt-4">
                    <div style="text-align: center;">
                        <input matTooltip="Click to Add" type="submit" class="btn btn-primary" value="Add" />
                    </div>
                </div>
            </form>

            <form>
                <div class="row mt-5">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div style="float: left;text-align: left;">
                            <input style="height: 20px;width: 20px;" type="checkbox" class="ml-4" value="something">
                        </div>
                        <div class="inputdiv">
                            <label class="ml-2"><b>Select All</b></label>
                        </div>
                    </div>
                </div>

                <table class="col-sm-8 table table-hover table-bordered table-sm  ">
                    <thead>
                        <tr>
                            <th></th>
                            <th>A.NO</th>
                            <th>Student Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input style="height: 15px;width: 15px;" type="checkbox" class="ml-4" value="something">
                            </td>
                            <td>000101</td>
                            <td>John</td>
                        </tr>

                        <tr>
                            <td><input style="height: 15px;width: 15px;" type="checkbox" class="ml-4" value="something">
                            </td>
                            <td>000102</td>
                            <td>Kumar</td>
                        </tr>

                        <tr>
                            <td><input style="height: 15px;width: 15px;" type="checkbox" class="ml-4" value="something">
                            </td>
                            <td>000103</td>
                            <td>Priya</td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-sm-8 mt-4">
                    <div style="text-align: center;">
                       <input matTooltip="Click to Save" type="submit" style="width: 80px;"  class="btn btn-primary mr-3 btn-sm" value="Save" />
                        <input matTooltip="Click to Cancel" type="reset" style="width: 80px;"  class="btn btn-danger btn-sm mr-2"
                            value="Cancel" />
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>