<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="display: flex;">
            <div class="inputdiv">
                <h3 class="ml-1">Student Promote</h3>
            </div>
        </div>
    </div>
    <mat-card class="mt-2 matcard">
        <mat-card-content>
            <form #searchForm="ngForm">
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Class</label>
                        </div>
                        <div class="inputdiv">
                            <select [(ngModel)]="searchStudentForm.classid" style="width: 100%;" #t
                                (change)="filterGroupfun(t.value)" class="form-control " name="classid">
                                <option value=0 selected disabled>Please select</option>
                                <option value={{class.classid}} *ngFor="let class of ClassList;">
                                    {{class.class_name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" *ngIf="groupDisplay == true" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Group</label>
                        </div>
                        <div class="inputdiv">
                            <select [(ngModel)]="searchStudentForm.groupid" style="width: 100%;" #s
                                (change)="filterSectionfun(s.value)" class="form-control" name="groupid">
                                <option value=0 selected disabled>Please select</option>
                                <option value={{group.groupid}} *ngFor="let group of groupFilterlist;">
                                    {{group.group_name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Section</label>
                        </div>
                        <div class="inputdiv">
                            <select [(ngModel)]="searchStudentForm.sectionid" style="width: 100%;" class="form-control "
                                name="sectionid">
                                <option value=0 selected disabled>Please select</option>
                                <option [ngValue]="section.sectionid" *ngFor="let section of sectionFilterlist;">
                                    {{section.section_name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mt-4">
                    <div style="text-align: center;">
                        <button (click)="searchStudent()" type="button" class="btn btn-primary btn-sm ">Search</button>
                    </div>
                </div>
            </form>
            <form #promoteForm="ngForm" (ngSubmit)="save(StudentList)">
                <div class="row mt-3">
                    <label class="col-12"
                        style="color: blue;font-family:  Roboto Slab;font-size: 20px;font-weight: 700;">Select options
                        to move</label>

                    <div class="col-sm-3 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Date</label>
                        </div>
                        <div class="inputdiv">
                            <input [(ngModel)]="studentPromoteForm.date" name="date" type="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Batch <span class="text-danger"> *</span></label>
                        </div>
                        <div class="inputdiv">
                            <select #batch_year="ngModel"
                                [class.is-invalid]="batch_year.invalid && (batch_year.dirty || batch_year.touched)"
                                required [(ngModel)]="studentPromoteForm.batch_year" style="width: 100%;"
                                class="form-control " name="batch_year">
                                <option value=null selected disabled>Please select</option>
                                <option [ngValue]="batch.batch_year" *ngFor="let batch of BatchList;">
                                    {{batch.batch_year}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Class<span class="text-danger"> *</span></label>
                        </div>
                        <div class="inputdiv">
                            <select #classid="ngModel"
                                [class.is-invalid]="classid.invalid && (classid.dirty || classid.touched)" required
                                [(ngModel)]="studentPromoteForm.classid" style="width: 100%;" #pt
                                (change)="profilterGroupfun(pt.value)" class="form-control " name="classid">
                                <option value=null selected disabled>Please select</option>
                                <option value={{class.classid}} *ngFor="let class of ClassList;">
                                    {{class.class_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="progroupDisplay == true" class="col-sm-3 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Group</label>
                        </div>
                        <div class="inputdiv">
                            <select [(ngModel)]="studentPromoteForm.groupid" style="width: 100%;" #ps
                                (change)="profilterSectionfun(ps.value)" class="form-control" name="groupid">
                                <option value=0 selected disabled>Please select</option>
                                <option value={{group.groupid}} *ngFor="let group of progroupFilterlist;">
                                    {{group.group_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Section<span class="text-danger"> *</span></label>
                        </div>
                        <div class="inputdiv">
                            <select #sectionid="ngModel"
                                [class.is-invalid]="sectionid.invalid && (sectionid.dirty || sectionid.touched)"
                                required [(ngModel)]="studentPromoteForm.sectionid" style="width: 100%;"
                                class="form-control " name="sectionid">
                                <option value=null selected disabled>Please select</option>
                                <option [ngValue]="section.sectionid" *ngFor="let section of prosectionFilterlist;">
                                    {{section.section_name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <table class="col-sm-8 table table-hover table-bordered table-sm mt-3">
                    <thead>
                        <tr>
                            <th>SI NO</th>
                            <th></th>
                            <th>A.NO</th>
                            <th>Student Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of StudentList;let i=index;">
                            <td>{{i+1}}</td>
                            <td><input type="checkbox" name="iss{{i}}" #iss="ngModel" [(ngModel)]="student.isselected">
                            </td>
                            <td>{{student.admission_no}}</td>
                            <td>{{student.student_name}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-sm-8 mt-4">
                    <div style="text-align: center;">
                        <input [disabled]="promoteForm.invalid" matTooltip="Click to Save" type="submit"
                            style="width: 80px;" class="btn btn-primary mr-3 btn-sm" value="Save" />
                        <input matTooltip="Click to Cancel" (click)="cancelClick()" type="reset" style="width: 80px;"
                            class="btn btn-danger btn-sm mr-2" value="Cancel" />
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>