<div class="container-fluid mt-1">
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Staff Permission</h3>
                    </div>
                </div>
                <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                        (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                </div>
            </div>
            <form [formGroup]="staffLeavePermissionForm">
                <div class="row">
                    <div class="col-sm-4 mt-3" style="display: flex;">
                        <div style="float: left;width: 100px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Leave month</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input
                                [ngClass]="{'is-invalid':staffLeavePermissionForm.controls.year.touched && staffLeavePermissionForm.controls.year.errors}"
                                formControlName="year" [min]="minMonth" (change)="dateRangeChange()"
                                class="form-control" type="month" required>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-3" style="display: flex;">
                        <div style="float: left;width: 100px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Staff NO</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input
                                [ngClass]="{'is-invalid':staffLeavePermissionForm.controls.staff_no.touched && staffLeavePermissionForm.controls.staff_no.errors}"
                                formControlName="staff_no" class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-3" style="display: flex;">
                        <div style="float: left;width: 100px;text-align: left;">
                            <label class="pt-2" style="margin: auto;">Staff Name</label>
                        </div>
                        <div style="float: left;width: 250px;">
                            <input readonly formControlName="staff_name" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-sm-12 mt-3">
                        <div style="text-align: center;">
                            <button (click)="searchLeave()"
                                [disabled]="staffLeavePermissionForm.controls.staff_no.errors || staffLeavePermissionForm.controls.year.errors || staffLeavePermissionForm.value.staff_name"
                                type="button" class="btn btn-primary btn-sm">Search<i
                                    class="fa fa-search ml-2"></i></button>
                        </div>
                    </div>
                </div>

                <div *ngIf="StaffLeaveList.length !=0" class="col-sm-12 mt-5">
                    <h3 style="color: #ac2bac;">Types of leave & Eligible days</h3>
                </div>
                <div class="row">
                    <div *ngFor="let leave of StaffLeaveList" class="col-sm-4 mt-3" style="display: flex;">
                        <div style="float: left;width: 100px;text-align: left;">
                            <label class="pt-4 text-primary" style="margin: auto;"><b>{{leave.type_name}}</b></label>
                        </div>
                        <div style="float: left;width: 250px; display: flex;">
                            <div style="width: 45%;"> <label>Year</label>
                                <input readonly value={{leave.eligible_days}} class="form-control " type="number"
                                    required>
                            </div>
                            <div class="ml-2" style="width: 45%;">
                                <label>Month</label>
                                <input readonly value={{leave.monthedays}} class="form-control" type="number" required>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div *ngIf="StaffLeaveList.length !=0" class="table-responsive mt-5">
                <div class="col-sm-12">
                    <h3 style="color: #ac2bac;">More than one day permit</h3>
                </div>
                <form [formGroup]="staffLeavePermissionForm" (ngSubmit)="save()">
                    <table class="col-sm-12 table table-hover table-bordered table-sm mt-3">
                        <thead>
                            <tr>
                                <th>Leave type</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>No Of Days</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 140px;"><select
                                        [ngClass]="{'is-invalid':staffLeavePermissionForm.controls.typeid.touched && staffLeavePermissionForm.controls.typeid.errors}"
                                        formControlName="typeid" (change)="dateChange()" style="width: 100%;"
                                        class="form-control" required>
                                        <option value=null selected disabled>Please select</option>
                                        <option [ngValue]="leave.typeid" *ngFor="let leave of StaffLeaveList;">
                                            {{leave.type_name}}</option>
                                    </select></td>
                                <td style="width: 180px;"><input
                                        [ngClass]="{'is-invalid':staffLeavePermissionForm.controls.fromdate.touched && staffLeavePermissionForm.controls.fromdate.errors}"
                                        formControlName="fromdate" (change)="dateChange()" class="form-control"
                                        [min]="minDate" [max]="maxdate" type="date" required></td>
                                <td style="width: 180px;"><input
                                        [ngClass]="{'is-invalid':staffLeavePermissionForm.controls.todate.touched && staffLeavePermissionForm.controls.todate.errors}"
                                        formControlName="todate" (change)="dateChange()" [min]="minDate"
                                        class="form-control" [max]="maxdate" type="date" required="">
                                </td>
                                <td style="width: 140px;"><input readonly formControlName="total_days"
                                        class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12 mt-4">
                        <div style="text-align: center;">
                            <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                class="btn btn-primary mr-3 btn-sm" value="Save" />
                            <input matTooltip="Click to Cancel" (click)="cancelClick()" type="button"
                                style="width: 80px;" class="btn btn-danger btn-sm mr-2" value="Cancel" />
                        </div>
                    </div>
                </form>
                <div class="col-sm-12 mt-5">
                    <h3 style="color: #ac2bac;">Half day permit</h3>
                </div>
                <form [formGroup]="staffHalfDayPermissionForm" (ngSubmit)="pSave()">
                    <table class="col-sm-8 table table-hover table-bordered table-sm mt-3">
                        <thead>
                            <tr>
                                <th>Leave type</th>
                                <th>Date</th>
                                <th>Half day permit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 140px;"><select
                                        [ngClass]="{'is-invalid':staffHalfDayPermissionForm.controls.typeid.touched && staffHalfDayPermissionForm.controls.typeid.errors}"
                                        formControlName="typeid" (change)="pDayChange()" style="width: 100%;"
                                        class="form-control" required>
                                        <option value=null selected disabled>Please select</option>
                                        <option [ngValue]="Staff.typeid" *ngFor="let Staff of StaffLeaveList;">
                                            {{Staff.type_name}}</option>
                                    </select></td>
                                <td style="width: 180px;"><input (change)="pDayChange()"
                                        [ngClass]="{'is-invalid':staffHalfDayPermissionForm.controls.h_leave_days.touched && staffHalfDayPermissionForm.controls.h_leave_days.errors}"
                                        formControlName="h_leave_days" class="form-control" [max]="maxdate"
                                        [min]="minDate" type="date" required></td>
                                <td style="width: 80px;">
                                    <input class="mt-2" formControlName="p_fn" (change)="pFNChange()"
                                        type="checkbox"><span>FN</span>
                                    <input type="checkbox" (change)="pANChange()" formControlName="p_an"
                                        class="ml-2"><span>AN</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-8 mt-4">
                        <div style="text-align: center;">
                            <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                class="btn btn-primary mr-3 btn-sm" value="Save" />
                            <input matTooltip="Click to Cancel" (click)="cancelClick()" type="button"
                                style="width: 80px;" class="btn btn-danger btn-sm mr-2" value="Cancel" />
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>