<mat-tab-group #tabGroup animationDuration="0ms">
    <mat-tab label="New Staff">
        <div class="container-fluid">
            <mat-card class="m-3 matcard">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Staff Profile</h3>
                            </div>
                        </div>                       
                    </div>
                    <form [formGroup]="staffProfileForm" novalidate (ngSubmit)="onSubmit()">
                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Staff Type<span
                                            class="text-danger">*</span></label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select
                                        [ngClass]="{'is-invalid':staffProfileForm.controls.staff_typeid.touched && staffProfileForm.controls.staff_typeid.errors}"
                                        formControlName="staff_typeid" (change)="findStaffCode()" style="width: 100%;"
                                        class="form-control" required>
                                        <option value=null selected disabled>Please select</option>
                                        <option [disabled]="staffProfileForm.value.id !=0"
                                            [ngValue]="StaffType.staff_typeid" *ngFor="let StaffType of StaffTypeList;">
                                            {{StaffType.staff_type}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="staffProfileForm.controls.staff_typeid.touched && staffProfileForm.controls.staff_typeid.errors">
                                        <div
                                            *ngIf="staffProfileForm.controls.staff_typeid.touched && staffProfileForm.controls.staff_typeid.errors.required">
                                            Staff Type is required
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div class="labeldiv">
                                    <label class="pt-2" style="margin: auto;">Category Name<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select
                                        [ngClass]="{'is-invalid':staffProfileForm.controls.category_id.touched && staffProfileForm.controls.category_id.errors}"
                                        formControlName="category_id" style="width: 100%;" class="form-control"
                                        required>
                                        <option value=null selected disabled>Please select</option>
                                        <option [ngValue]="cate.category_id" *ngFor="let cate of categoryList;">
                                            {{cate.category}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="staffProfileForm.controls.category_id.touched && staffProfileForm.controls.category_id.errors">
                                        <div
                                            *ngIf="staffProfileForm.controls.category_id.touched && staffProfileForm.controls.category_id.errors.required">
                                            Category Name is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Staff No</label>
                                </div>
                                <input type="text" style="width: 250px;" readonly class="form-control"
                                    formControlName="staff_no">
                            </div>
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Staff Name <span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <input oninput="this.value = this.value.toUpperCase()" (keypress)="numberNotApplicable($event)"
                                        [ngClass]="{'is-invalid':staffProfileForm.controls.staff_name.touched && staffProfileForm.controls.staff_name.errors}"
                                        type="text" style="width: 250px;" class="form-control"
                                        formControlName="staff_name" required>
                                    <span class="text-danger"
                                        *ngIf="staffProfileForm.controls.staff_name.touched && staffProfileForm.controls.staff_name.errors">
                                        <div
                                            *ngIf="staffProfileForm.controls.staff_name.touched && staffProfileForm.controls.staff_name.errors.required">
                                            Staff Name is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Gender<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div class="inputdiv">
                                    <select
                                        [ngClass]="{'is-invalid':staffProfileForm.controls.gender.touched && staffProfileForm.controls.gender.errors}"
                                        formControlName="gender" style="width: 250px;" class="form-control" required>
                                        <option value="">Please select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="staffProfileForm.controls.gender.touched && staffProfileForm.controls.gender.errors">
                                        <div
                                            *ngIf="staffProfileForm.controls.gender.touched && staffProfileForm.controls.gender.errors.required">
                                            Gender is required
                                        </div>
                                    </span>
                                </div>

                            </div>

                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">DOB</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="dob" class="form-control" type="date">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12" style="display: flex;">
                                <div style="float: left;width: 250px;">
                                    <h3 style="color: orangered;" class="ml-1">Personal Details</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-8" style="margin: auto;">
                                <div *ngIf="editableImage">
                                    <img [src]="editableImage" alt="No image found" width="200" height="150" />
                                    <span class="pl-2" style="cursor: pointer">
                                        <mat-icon class="icons" style="padding-left: 2px" svgIcon="roundDelete"
                                            matTooltip="Delete" (click)="deleteImage()"></mat-icon>
                                    </span>
                                </div>
                                <div *ngIf="!editableImage" class="custom-dropzone" ngx-dropzone [accept]="'image/*'"
                                    (change)="onSelect($event)" style="width:160px;height: 160px;">
                                    <ngx-dropzone-label>
                                        <div>
                                            <span>Click to upload or Drag & Drop !</span>
                                        </div>
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview *ngFor="let f of files" [file]="f" [removable]="true"
                                        (removed)="onRemove(f)">
                                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                    </ngx-dropzone-image-preview>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Contact Number</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="mobile" class="form-control" type="text"
                                        (keypress)="numberOnly($event)" maxlength="10" minlength="10">
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Blood Group</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" formControlName="blood_group" class="form-control">
                                        <option value='' selected disabled>Please select</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Qualification</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="qualification" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Designation</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="designation" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Year of Experience</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="experience" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">P C Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="pc" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Major Subject</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="major_subject" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Class Hand</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select formControlName="class_hand" style="width: 100%;" class="form-control">
                                        <option value="" selected disabled>Please select</option>
                                        <option>LKG - UKG</option>
                                        <option>I - V</option>
                                        <option>VI - VIII</option>
                                        <option>IX - X</option>
                                        <option>XI - XII</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Date Of Join</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="join_date" class="form-control" type="date">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Rejoin</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select formControlName="rejoin" style="width: 100%;" class="form-control">
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Rejoin Date</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="rejoin_date" class="form-control" type="date">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Father Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input oninput="this.value = this.value.toUpperCase()" (keypress)="numberNotApplicable($event)" formControlName="f_name" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Mother Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input oninput="this.value = this.value.toUpperCase()" (keypress)="numberNotApplicable($event)" formControlName="m_name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-5" style="margin: auto;">Address</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <textarea formControlName="s_address" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12" style="display: flex;">
                                <div style="float: left;width: 250px;">
                                    <h3 style="color: orangered;" class="ml-1">Certificate Details</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row m-3" style="color: green;">
                            <div class="col-sm-2">
                                <b> Cirtificate's</b>
                            </div>
                            <div class="col-sm-3">
                                <b> Xerox</b>
                            </div>
                            <div class="col-sm-3">
                                <b> Original</b>
                            </div>
                            <div class="col-sm-3">
                                <b> Date of submission</b>
                            </div>
                        </div>

                        <div class="row m-3">
                            <div class="col-sm-2">
                                <b style="color: blue;">SSLC Mark Sheet</b>
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="sslc_x">
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="sslc_o">
                            </div>
                            <div class="col-sm-3">
                                <div style="float: left;">
                                    <input formControlName="sslc_date" class="form-control" type="date">
                                </div>
                            </div>
                        </div>

                        <div class="row m-3">
                            <div class="col-sm-2">
                                <b style="color: blue;">HSC Mark Sheet</b>
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="hsc_x">
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="hsc_o">
                            </div>
                            <div class="col-sm-3">
                                <div style="float: left;">
                                    <input formControlName="hsc_date" class="form-control" type="date">
                                </div>
                            </div>
                        </div>

                        <div class="row m-3">
                            <div class="col-sm-2">
                                <b style="color: blue;">UG Certificate</b>
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="ug_x">
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="ug_o">
                            </div>
                            <div class="col-sm-3">
                                <div style="float: left;">
                                    <input formControlName="ug_date" class="form-control" type="date">
                                </div>
                            </div>
                        </div>

                        <div class="row m-3">
                            <div class="col-sm-2">
                                <b style="color: blue;">PG Certificate</b>
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="pg_x">
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="pg_o">
                            </div>
                            <div class="col-sm-3">
                                <div style="float: left;">
                                    <input formControlName="pg_date" class="form-control" type="date">
                                </div>
                            </div>
                        </div>

                        <div class="row m-3">
                            <div class="col-sm-2">
                                <b style="color: blue;">B.Ed Certificate</b>
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="bed_x">
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="bed_o">
                            </div>
                            <div class="col-sm-3">
                                <div style="float: left;">
                                    <input formControlName="bed_date" class="form-control" type="date">
                                </div>
                            </div>
                        </div>

                        <div class="row m-3">
                            <div class="col-sm-2">
                                <b style="color: blue;">M.Ed Certificate</b>
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="med_x">
                            </div>
                            <div class="col-sm-3">
                                <input style="height: 20px;width: 20px;position: relative;" type="checkbox"
                                    class="form-check-input ml-2" formControlName="med_o">
                            </div>
                            <div class="col-sm-3">
                                <div style="float: left;">
                                    <input formControlName="med_date" class="form-control" type="date">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12" style="display: flex;">
                                <div style="float: left;width: 250px;">
                                    <h3 style="color: orangered;" class="ml-1">Salary Details</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Basic Pay<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input (keypress)="numberOnly($event)"
                                        [ngClass]="{'is-invalid':staffProfileForm.controls.basic_pay.touched && staffProfileForm.controls.basic_pay.errors}"
                                        (change)="totalChange()" formControlName="basic_pay" class="form-control"
                                        type="text" required>
                                    <span class="text-danger"
                                        *ngIf="staffProfileForm.controls.basic_pay.touched && staffProfileForm.controls.basic_pay.errors">
                                        <div
                                            *ngIf="staffProfileForm.controls.basic_pay.touched && staffProfileForm.controls.basic_pay.errors.required">
                                            Basic Pay is required
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">DA<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input (keypress)="numberOnly($event)"
                                        [ngClass]="{'is-invalid':staffProfileForm.controls.da.touched && staffProfileForm.controls.da.errors}"
                                        (change)="totalChange()" formControlName="da" class="form-control" type="text"
                                        required>
                                    <span class="text-danger"
                                        *ngIf="staffProfileForm.controls.da.touched && staffProfileForm.controls.da.errors">
                                        <div
                                            *ngIf="staffProfileForm.controls.da.touched && staffProfileForm.controls.da.errors.required">
                                            DA is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">HRA<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input (keypress)="numberOnly($event)"
                                        [ngClass]="{'is-invalid':staffProfileForm.controls.hra.touched && staffProfileForm.controls.hra.errors}"
                                        (change)="totalChange()" formControlName="hra" class="form-control" type="text"
                                        required>
                                    <span class="text-danger"
                                        *ngIf="staffProfileForm.controls.hra.touched && staffProfileForm.controls.hra.errors">
                                        <div
                                            *ngIf="staffProfileForm.controls.hra.touched && staffProfileForm.controls.hra.errors.required">
                                            HRA is required
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Allowance<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input (keypress)="numberOnly($event)"
                                        [ngClass]="{'is-invalid':staffProfileForm.controls.allowance.touched && staffProfileForm.controls.allowance.errors}"
                                        (change)="totalChange()" formControlName="allowance" class="form-control"
                                        type="text" required>
                                    <span class="text-danger"
                                        *ngIf="staffProfileForm.controls.allowance.touched && staffProfileForm.controls.allowance.errors">
                                        <div
                                            *ngIf="staffProfileForm.controls.allowance.touched && staffProfileForm.controls.allowance.errors.required">
                                            Allowance is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Total Salary</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input readonly formControlName="total_salary" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">PF</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select formControlName="pf" style="width: 100%;" class="form-control">
                                        <option value="Yes">YES</option>
                                        <option value="No">NO</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">EPF</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select formControlName="epf" style="width: 100%;" class="form-control">
                                        <option value="Yes">YES</option>
                                        <option value="No">NO</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12" style="display: flex;">
                                <div style="float: left;width: 250px;">
                                    <h3 style="color: orangered;" class="ml-1">Bank Details</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Account No</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="account_no" (keypress)="numberOnly($event)"
                                        class="form-control" type="text">
                                </div>
                            </div>

                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">IFSC Code</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="ifsc_code" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Bank Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="bank_name" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Branch Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="branch_name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Reliving</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select formControlName="reliving" style="width: 100%;" class="form-control">
                                        <option value="Yes">YES</option>
                                        <option value="No">NO</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Date</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="reliving_date" class="form-control" type="date">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mt-4">
                            <div style="text-align: center;">
                                <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                    class="btn btn-success mr-3 btn-sm" value="Save" />
                                <input matTooltip="Click to Cancel" (click)="cancelClick()" type="button"
                                    style="width: 80px;" class="btn btn-primary btn-sm mr-2" value="Cancel" />
                                    <input type="button" style="width: 80px;" class="btn btn-danger btn-sm" (click)="backButton()"
                            value="Close" />
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Update Staff Details">
        <mat-card class="m-3 matcard">
            <mat-card-content>
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-sm-4 mt-2">
                                <select #tt (change)="typeChange(tt.value)" class="form-control" style="width: 200px;">
                                    <option value=0 disabled selected>Select Staff type</option>
                                    <option value={{StaffType.staff_typeid}} *ngFor="let StaffType of StaffTypeList;">
                                        {{StaffType.staff_type}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4  mt-2">
                                <select #n (change)="noChange(n.value)" class="form-control" style="width: 200px;">
                                    <option disabled selected>Select Staff No</option>
                                    <option *ngFor="let type of staffList">{{type.staff_no}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4  mt-2">
                                <select #na (change)="noChange(na.value)" class="form-control" style="width: 200px;">
                                    <option disabled selected>Select Staff Name</option>
                                    <option value={{type.staff_no}} *ngFor="let type of staffList">{{type.staff_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>

                    <div class="row mt-5">
                        <div *ngFor="let staff of staffFilterList" class="m-4 row col-sm-3 carddiv">
                            <div style="margin: auto;">
                                <div style="margin: auto;text-align: center;"><img [src]="staff.img"
                                        style="border-radius: 50px;object-fit: cover;" height="80px" width="80px" />
                                </div>
                            </div>
                            <div style="width: 100%;float: left;">
                                <label class="cardlabel mt-1">Staff No</label><label
                                    class="cardlabelcon mt-1">{{staff.staff_no}}</label>
                            </div>
                            <div style="width: 100%;float: left;">
                                <label class="cardlabel" >Name</label><label
                                    class="cardlabelcon">{{staff.staff_name}}</label>
                            </div>
                            <div style="width: 100%;float: left;">
                                <label class="cardlabel" >Gender</label><label
                                    class="cardlabelcon">{{staff.gender}}</label>
                            </div>
                            <div style="width: 100%;float: left;">
                                <label class="cardlabel" >Type</label><label
                                    class="cardlabelcon">{{staff.staff_type}}</label>
                            </div>
                            <div style="width: 100%;float: left;">
                                <label class="cardlabel " >DOB</label><label
                                    class="cardlabelcon">{{staff.dob}}</label>
                            </div>

                            <div class="col-sm-12">
                                <input (click)="editFun(staff)" (click)="tabGroup.selectedIndex=0" type="button"
                                    value="Click To Edit" class="form-control btn btn-info" />
                            </div>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>