<div class="container-fluid mt-2">
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Staff Type</h3>
                    </div>
                </div>
                <div class="col-sm-6" style="text-align:right;cursor: pointer;" title="Click to Back"><button
                        (click)="backButton()" class="homeicon"><span><mat-icon>home</mat-icon></span></button>
                </div>
            </div>
            <form [formGroup]="stafftypeForm" (ngSubmit)="StaffType()">
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Staff Code</label>
                        </div>
                        <span class="inputdiv" *ngIf="buttonId == true ">
                            <div *ngFor="let code of MaxId">
                                <input placeholder="00{{code.staffTypeid+1}}" class="form-control" type="text" readonly
                                    required>
                            </div>
                        </span>
                        <span class="inputdiv" *ngIf="buttonId != true">
                            <div>
                                <input formControlName="staffTypeid" class="form-control" type="text" readonly required>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Staff Type <span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid':stafftypeForm.controls.stafftype.touched && stafftypeForm.controls.stafftype.errors}"
                                formControlName="stafftype" class="form-control" type="text" required>
                            <span class="text-danger"
                                *ngIf="stafftypeForm.controls.stafftype.touched && stafftypeForm.controls.stafftype.errors">
                                <div
                                    *ngIf="stafftypeForm.controls.stafftype.touched && stafftypeForm.controls.stafftype.errors.required">
                                    Stafftype is required
                                </div>
                                <div
                                    *ngIf="stafftypeForm.controls.stafftype.touched && stafftypeForm.controls.stafftype.errors.pattern">
                                    Use letters only
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                        </div>
                        <div style="float: left;width: 250px;">
                            <input *ngIf="buttonId == true" matTooltip="Click to Save" type="submit"
                                style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                            <input *ngIf="buttonId != true" matTooltip="Click to Save" type="submit"
                                style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                            <input matTooltip="Click to Cancel" type="button" style="width: 80px;"
                                class="btn btn-danger btn-sm mt-4  " (click)="cancelClick()" value="Cancel" />
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                    <thead>
                        <tr>
                            <th>Si.No</th>
                            <th>Staff Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sty of DepartmentList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{sty.staffType}}</td>
                            <td class="tdoption">
                                <span class="m-2 editbutton" (click)="udateGetClick(sty)"><b>edit</b></span>
                                <span>||</span>
                                <span class="m-2 deletebutton"
                                    (click)="deleteClick(sty.staffTypeid)"><b>delete</b></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>