<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12" style="display: flex;">
            <div style="float: left;width: 300px;">
                <h3 class="ml-1">Staff Type</h3>
            </div>
        </div>
    </div>
    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <p *ngIf="buttonId == true " class="addup" style="background-color: blue;">Add New Staff Type <i
                    class="fa fa-plus ml-1"></i></p>
            <p *ngIf="buttonId != true" class="addup" style="background-color: black;width: 165px;">Update Staff type <i
                    class="fa fa-refresh ml-1"></i></p>
            <form [formGroup]="stafftypeForm" (ngSubmit)="StaffType()">

                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Staff Code</label>
                        </div>
                        <span *ngIf="buttonId == true ">
                            <div class="inputdiv" *ngFor="let code of MaxId">
                                <input placeholder="00{{code.staffTypeid+1}}" class="form-control" type="text" readonly
                                    required>
                            </div>
                        </span>
                        <span *ngIf="buttonId != true">
                            <div class="inputdiv">
                                <input formControlName="staffTypeid" class="form-control" type="text" readonly required>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-3" style="display: flex;">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto;">Staff Type<span class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="stafftype" class="form-control" type="text" required>
                            <p class="text-danger m-1" *ngIf="stafftype && stafftype.invalid && stafftype.touched">
                                Please enter Staff type !</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="display: flex;">
                        <div style="float: left;width: 150px;text-align: left;">
                        </div>
                        <div style="float: left;width: 250px;">
                            <!-- [disabled]="stafftypeForm.invalid" -->
                            <input *ngIf="buttonId == true " [disabled]="stafftypeForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                <input *ngIf="buttonId != true" [disabled]="stafftypeForm.invalid" matTooltip="Click to Save" type="submit" style="width: 80px;"
                                class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                            <input matTooltip="Click to Cancel" type="button" style="width: 80px;"
                                class="btn btn-danger btn-sm mt-4  " (click)="cancelClick()" value="Cancel" />
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt-2 matcard mb-5">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                    <thead>
                        <tr>
                            <th>Si.No</th>
                            <th>Staff Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sty of DepartmentList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{sty.staffType}}</td>
                            <td class="tdoption"> <mat-icon (click)="udateGetClick(sty)" matTooltip="Click to Edit"
                                    style="color: blue;cursor: pointer;" class="pr-2">edit_outline</mat-icon>
                                <mat-icon (click)="deleteClick(sty.staffTypeid)" matTooltip="Click to Delete"
                                    style="color: red;cursor: pointer;" class="ml-4">delete_outline</mat-icon>                                   
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>