<mat-tab-group animationDuration="0ms">
    <mat-tab label="Class">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Student Class</h3>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="Student_classForm" (ngSubmit)="New_Class()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Class Code</label>
                                </div>
                                <span *ngIf="buttonId == true ">
                                    <div style="float: left;width: 250px;" *ngFor="let code of MaxId">
                                        <input placeholder="0{{code.classid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="buttonId != true">
                                    <div style="float: left;width: 250px;">
                                        <input formControlName="classid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Class Name <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input
                                        [ngClass]="{'is-invalid': Student_classForm.controls.class_name.touched && Student_classForm.controls.class_name.errors}"
                                        formControlName="class_name" class="form-control" oninput="this.value = this.value.toUpperCase()" type="text">
                                    <span class="text-danger"
                                        *ngIf="Student_classForm.controls.class_name.touched && Student_classForm.controls.class_name.errors">
                                        <div
                                            *ngIf="Student_classForm.controls.class_name.touched && Student_classForm.controls.class_name.errors.required">
                                            Class name is required
                                        </div>
                                        <div
                                            *ngIf="Student_classForm.controls.class_name.touched && Student_classForm.controls.class_name.errors.pattern">
                                            Use only letters or numbers
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 350px;">
                                    <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                        <span> {{ Student_classForm.value.classid ==0 ? 'Save' :
                                            'Edit'}}</span></button>
                                    <input type="button" style="width: 80px;" (click)="cancelClick()"
                                        class="btn btn-danger mr-3 btn-sm mt-4" value="Clear" />
                                    <input type="button" style="width: 80px;" class="btn btn-primary btn-sm mt-4"
                                        (click)="backButton()" value="Close" />
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input *ngIf="buttonId == true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input *ngIf="buttonId != true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                    <input matTooltip="Click to Cancel" (click)="cancelClick()" type="button"
                                        style="width: 80px;" class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div> -->

                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No.</th>
                                    <th>Class Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let class of ClassList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{class.class_name}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton" (click)="updateGetClick(class)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="deleteClick(class.classid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Section">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Student Section</h3>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="Student_SectionForm" (ngSubmit)="NewSection()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Section Code</label>
                                </div>
                                <span *ngIf="SectionbuttonId == true ">
                                    <div style="float: left;width: 250px;" *ngFor="let code of MaxSectionId">
                                        <input placeholder="0{{code.sectionid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="SectionbuttonId != true">
                                    <div style="float: left;width: 250px;">
                                        <input formControlName="sectionid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Class Name <span class="text-danger">
                                            *</span></label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select
                                        [ngClass]="{'is-invalid': Student_SectionForm.get('classid')?.touched && Student_SectionForm.get('classid')?.errors}"
                                        style="width: 100%;" class="form-control" formControlName="classid" #t
                                        (change)="changefun(t.value)" name="selectAction">
                                        <option value=null selected disabled>Please select</option>
                                        <option [disabled]="SectionbuttonId != true" *ngFor="let class of ClassList"
                                            value={{class.classid}}>
                                            {{class.class_name}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="Student_SectionForm.get('classid')?.touched && Student_SectionForm.get('classid')?.errors">Class
                                        name is required</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div *ngIf="newlist.length !=0" class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Group Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control" formControlName="groupid"
                                        name="selectAction">
                                        <option value=0 selected disabled>Please select</option>
                                        <option [disabled]="SectionbuttonId != true" *ngFor="let group of newlist;"
                                            [ngValue]="group.groupid">
                                            {{group.group_name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Section Name<span class="text-danger">
                                            *</span></label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input
                                        [ngClass]="{'is-invalid': Student_SectionForm.controls.section_name.touched && Student_SectionForm.controls.section_name.errors}"
                                        formControlName="section_name" class="form-control" type="text" required>
                                    <span class="text-danger"
                                        *ngIf="Student_SectionForm.controls.section_name.touched && Student_SectionForm.controls.section_name.errors">
                                        <div
                                            *ngIf="Student_SectionForm.controls.section_name.touched && Student_SectionForm.controls.section_name.errors.required">
                                            Section name is required
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 350px;">
                                    <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                        <span> {{ Student_SectionForm.value.sectionid ==0 ? 'Save' :
                                            'Edit'}}</span></button>
                                    <input type="button" style="width: 80px;" (click)="SectioncancelClick()"
                                        class="btn btn-danger mr-3 btn-sm mt-4" value="Clear" />
                                    <input type="button" style="width: 80px;" class="btn btn-primary btn-sm mt-4"
                                        (click)="backButton()" value="Close" />
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input *ngIf="SectionbuttonId == true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input *ngIf="SectionbuttonId != true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                    <input matTooltip="Click to Cancel" (click)="SectioncancelClick()" type="button"
                                        style="width: 80px;" class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div> -->
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive ">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Class Name</th>
                                    <th>Group Name</th>
                                    <th>Section</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let section of SectionList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{section.class_name}}</td>
                                    <td>{{section.group_name}}</td>
                                    <td>{{section.section_name}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton"
                                            (click)="updateSectionClick(section)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="sectionDeleteClick(section.sectionid)"><b>delete</b></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Group">
        <div class="container-fluid mt-4">
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6" style="display: flex;">
                            <div style="float: left;width: 300px;">
                                <h3 class="ml-1">Student Group</h3>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="Student_GroupForm" (ngSubmit)="NewGroup()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Group Code</label>
                                </div>
                                <span *ngIf="GroupbuttonId == true ">
                                    <div style="float: left;width: 250px;" *ngFor="let code of MaxGroupId">
                                        <input placeholder="0{{code.groupid+1}}" class="form-control" type="text"
                                            readonly required>
                                    </div>
                                </span>
                                <span *ngIf="GroupbuttonId != true">
                                    <div style="float: left;width: 250px;">
                                        <input formControlName="groupid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Class Name <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control" formControlName="classid"
                                        [ngClass]="{'is-invalid': Student_GroupForm.get('classid')?.touched && Student_GroupForm.get('classid')?.errors}"
                                        name="selectAction">
                                        <option value="null" selected disabled>Please select</option>
                                        <option
                                            [disabled]="class.class_name != 'XI' && class.class_name != 'Xl' && class.class_name != 'XII' && class.class_name != 'Xll'"
                                            *ngFor="let class of ClassList;" [ngValue]="class.classid">
                                            {{class.class_name}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="Student_GroupForm.get('classid')?.touched && Student_GroupForm.get('classid')?.errors">Class
                                        name is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Group Name <span
                                            class="text-danger">*</span></label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input
                                        [ngClass]="{'is-invalid': Student_GroupForm.controls.group_name.touched && Student_GroupForm.controls.group_name.errors}"
                                        formControlName="group_name" class="form-control" type="tel" required>
                                    <span class="text-danger"
                                        *ngIf="Student_GroupForm.controls.group_name.touched && Student_GroupForm.controls.group_name.errors">
                                        <div
                                            *ngIf="Student_GroupForm.controls.group_name.touched && Student_GroupForm.controls.group_name.errors.required">
                                            Group name is required
                                        </div>
                                        <div
                                            *ngIf="Student_GroupForm.controls.group_name.touched && Student_GroupForm.controls.group_name.errors.pattern">
                                            Use only letters or numbers
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Group Description<span
                                            class="text-danger">*</span></label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input
                                        [ngClass]="{'is-invalid': Student_GroupForm.controls.description.touched && Student_GroupForm.controls.description.errors}"
                                        formControlName="description" class="form-control" type="tel" required>
                                    <span class="text-danger"
                                        *ngIf="Student_GroupForm.controls.description.touched && Student_GroupForm.controls.description.errors">
                                        <div
                                            *ngIf="Student_GroupForm.controls.description.touched && Student_GroupForm.controls.description.errors.required">
                                            Group Description is required
                                        </div>
                                        <div
                                            *ngIf="Student_GroupForm.controls.description.touched && Student_GroupForm.controls.description.errors.pattern">
                                            Use only letters or numbers
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 350px;">
                                    <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                                        <span> {{ Student_GroupForm.value.groupid ==0 ? 'Save' :
                                            'Edit'}}</span></button>
                                    <input type="button" style="width: 80px;" (click)="GroupcancelClick()"
                                        class="btn btn-danger mr-3 btn-sm mt-4" value="Clear" />
                                    <input type="button" style="width: 80px;" class="btn btn-primary btn-sm mt-4"
                                        (click)="backButton()" value="Close" />
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input *ngIf="GroupbuttonId == true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input *ngIf="GroupbuttonId != true" matTooltip="Click to Save" type="submit"
                                        style="width: 80px;" class="btn btn-primary mt-4 btn-sm mr-3 " value="Update" />
                                    <input matTooltip="Click to Cancel" (click)=GroupcancelClick() type="button"
                                        style="width: 80px;" class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div> -->
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive ">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Class Name</th>
                                    <th>Group Name</th>
                                    <th>Group Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let group of GroupList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{group.class_name}}</td>
                                    <td>{{group.group_name}}</td>
                                    <td>{{group.description}}</td>
                                    <td class="tdoption">
                                        <span class="m-2 editbutton"
                                            (click)="updateGroupClick(group)"><b>edit</b></span>
                                        <span>||</span>
                                        <span class="m-2 deletebutton"
                                            (click)="GroupdeleteClick(group.groupid)"><b>delete</b>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>