<mat-tab-group animationDuration="0ms">
    <mat-tab label="Class">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Student Class</h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form [formGroup]="Student_classForm" (ngSubmit)="New_Class()">
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Class Code</label>
                                </div>
                                <span *ngIf="buttonId == true ">
                                    <div style="float: left;width: 250px;" *ngFor="let code of MaxId">
                                        <input placeholder={{code.classid+1}} class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                                <span *ngIf="buttonId != true">
                                    <div style="float: left;width: 250px;">
                                        <input formControlName="classid" class="form-control" type="text" readonly
                                            required>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Class Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input formControlName="class_name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input matTooltip="Click to Cancel" (click)="cancelClick()" type="button"
                                        style="width: 80px;" class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive">
                        <!-- <p *ngIf="classDetailList.length < 0 " class="text-danger">No Class Here!</p> -->
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No.</th>
                                    <th>Class Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let class of ClassList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{class.class_name}}</td>
                                    <td class="tdoption"> <mat-icon (click)="updateGetClick(class)"
                                            matTooltip="Click to Edit" style="color: blue;cursor: pointer;"
                                            class="pr-2">edit</mat-icon>
                                        <mat-icon (click)="deleteClick(class.classid)" matTooltip="Click to Delete"
                                            style="color: red;cursor: pointer;" class="pl-2">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Section">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Student Section</h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Section Code</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="0011788" class="form-control" type="text" disabled required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Class Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select name="class_name" style="width: 100%;" class="form-control">
                                        <option>Please select</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- *ngIf="sectiondata.class_name > 10" -->
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Group Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control " name="selectAction">
                                        <option value="" selected disabled>Computer Science</option>
                                        <option value="0">Null</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Section Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input matTooltip="Click to Cancel" type="reset" style="width: 80px;"
                                        class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive ">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Class Name</th>
                                    <th>Group Name</th>
                                    <th>Section</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>Computer Science</td>
                                    <td>D</td>
                                    <td class="tdoption"> <mat-icon matTooltip="Click to Edit"
                                            style="color: blue;cursor: pointer;" class="pr-2">edit</mat-icon>
                                        <mat-icon matTooltip="Click to Delete" style="color: red;cursor: pointer;"
                                            class="pl-2">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Group">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <div style="float: left;width: 300px;">
                        <h3 class="ml-1">Student Group</h3>
                    </div>
                </div>
            </div>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <form>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Group Code</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="0011788" class="form-control" type="text" disabled required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Class Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <select style="width: 100%;" class="form-control " name="selectAction">
                                        <option value="" selected disabled>Please select</option>
                                        <option *ngFor="let class of ClassList" value={{class.classid}}>
                                            {{class.class_name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                    <label class="pt-2" style="margin: auto;">Group Name</label>
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input placeholder="" class="form-control" type="tel" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" style="display: flex;">
                                <div style="float: left;width: 150px;text-align: left;">
                                </div>
                                <div style="float: left;width: 250px;">
                                    <input matTooltip="Click to Save" type="submit" style="width: 80px;"
                                        class="btn btn-primary mt-4 btn-sm mr-3 " value="Save" />
                                    <input matTooltip="Click to Cancel" type="reset" style="width: 80px;"
                                        class="btn btn-danger btn-sm mt-4  " value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card class="mt-2 matcard mb-5">
                <mat-card-content>
                    <div class="table-responsive ">
                        <table class="col-sm-6 table table-hover table-bordered table-sm  ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    <th>Class Name</th>
                                    <th>Group Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="tdoption"> <mat-icon matTooltip="Click to Edit"
                                            style="color: blue;cursor: pointer;" class="pr-2">edit</mat-icon>
                                        <mat-icon matTooltip="Click to Delete" style="color: red;cursor: pointer;"
                                            class="pl-2">delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>