<mat-tab-group  mat-align-tabs="start">
    <mat-tab label="Staff Loan"><div class="container-fluid mt-1">
        <div class="row">
            <div class="col-12" style="display: flex;">                
                <div style="float: left;width: 400px;">
                    <h3 class="ml-1">Staff Loan</h3>
                </div>
            </div>
        </div>
        <mat-card class="mt-2 matcard mb-5">
            <mat-card-content>
                <form>
                    <div class="row">
                        <div class="col-sm-6 mt-3" style="display: flex;">
                            <div style="float: left;width: 150px;text-align: left;">
                                <label for="ex2" class="pt-2" style="margin: auto;">Staff Type</label>
                            </div>
                            <div style="float: left;width: 250px;">
                                <select style="width: 100%;" class="form-control " name="selectAction">
                                    <option>Teacher</option>
                                    <option>Helper</option>
                                    <option>Driver</option>
                                </select>
                            </div>
                        </div>
    
                    </div>
                    <div class="row">
    
                        <div class="col-sm-6 mt-3" style="display: flex;">
                            <div style="float: left;width: 150px;text-align: left;">
                                <label for="ex2" class="pt-2" style="margin: auto;">Date</label>
                            </div>
                            <div style="float: left;width: 250px;">
                                <input placeholder="" [value]="today" class="form-control" type="Date" required>
                            </div>
                        </div>
                    </div>
    
    
                    <!-- <div class="col-sm-12 mt-4">
                        <div style="text-align: center;">
                            <input matTooltip="Click to Add" type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div> -->
    
    
                    <div class="table-responsive mt-5">
    
    
                        <table class="col-sm-8 table table-hover table-bordered table-sm mt-5 ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>
                                    
                                    <th>Staff No</th>
                                    <th>Staff Name</th>
                                    <th>Loan Amount</th>
                                    <th>Duration(No Of Months)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                   
                                    <td>0034</td>
                                    <td>John</td>
                                    <td>60,000</td>
                                    <td>8</td>
                                </tr>
    
                                <tr>
                                    <td>2</td>
                                   
                                    <td>0034</td>
                                    <td>Kumar</td>
                                    <td>60,000</td>
                                    <td>8</td>
                                </tr>
    
                                <tr>
                                    <td>3</td>
                                   
                                    <td>0034</td>
                                    <td>Priya</td>
                                    <td>60,000</td>
                                    <td>8</td>
                                </tr>
                            </tbody>
                        </table>
    
                        <div class="col-sm-8 mt-4">
                            <div style="text-align: center;">
                               <input matTooltip="Click to Save" type="submit" style="width: 80px;"  class="btn btn-primary mr-3 btn-sm" value="Save" />
                                <input matTooltip="Click to Cancel" type="reset" style="width: 80px;"  class="btn btn-danger btn-sm mr-2"
                                    value="Cancel" />
                            </div>
                        </div>
    
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div></mat-tab>
    <mat-tab label="Loan Deduction"><div class="container-fluid mt-1">
        <div class="row">
            <div class="col-12" style="display: flex;">                
                <div style="float: left;width: 400px;">
                    <h3 class="ml-1">Staff Loan Deduction</h3>
                </div>
            </div>
        </div>
        <mat-card class="mt-2 matcard mb-5">
            <mat-card-content>
                <form>
                    <div class="row">
                        <div class="col-sm-6 mt-3" style="display: flex;">
                            <div style="float: left;width: 150px;text-align: left;">
                                <label for="ex2" class="pt-2" style="margin: auto;">Staff Type</label>
                            </div>
                            <div style="float: left;width: 250px;">
                                <select style="width: 100%;" class="form-control " name="selectAction">
                                    <option>Teacher</option>
                                    <option>Helper</option>
                                    <option>Driver</option>
                                </select>
                            </div>
                        </div>
    
                    </div>
                    <div class="row">    
                        <div class="col-sm-6 mt-3" style="display: flex;">
                            <div style="float: left;width: 150px;text-align: left;">
                                <label for="ex2" class="pt-2" style="margin: auto;">Date</label>
                            </div>
                            <div style="float: left;width: 250px;">
                                <input placeholder="" [value]="today" class="form-control" type="Date" required>
                            </div>
                        </div>
                    </div>
    
    
                    <!-- <div class="col-sm-12 mt-4">
                        <div style="text-align: center;">
                            <input matTooltip="Click to Add" type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div> -->
    
    
                    <div class="table-responsive mt-5">
    
    
                        <table class="col-sm-8 table table-hover table-bordered table-sm mt-5 ">
                            <thead>
                                <tr>
                                    <th>Si.No</th>                                    
                                    <th>Staff No</th>
                                    <th>Staff Name</th>
                                    <th>Balance Amount</th>
                                    <th>Amount Deduction</th>
                                    <th>Month</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>                                    
                                    <td>0034</td>
                                    <td>John</td>
                                    <td>5,000</td>
                                    <td>8</td>
                                    <td>yes</td>
                                </tr>
    
                                <tr>
                                    <td>2</td>                                   
                                    <td>0034</td>
                                    <td>Kumar</td>
                                    <td>6,000</td>
                                    <td>8</td>
                                    <td>yes</td>
                                </tr>
    
                                <tr>
                                    <td>3</td>                                    
                                    <td>0034</td>
                                    <td>Priya</td>
                                    <td>6,000</td>
                                    <td>8</td>
                                    <td>yes</td>
                                </tr>
                            </tbody>
                        </table>
    
                        <div class="col-sm-8 mt-4">
                            <div style="text-align: center;">
                               <input matTooltip="Click to Save" type="submit" style="width: 80px;"  class="btn btn-primary mr-3 btn-sm" value="Save" />
                                <input matTooltip="Click to Cancel" type="reset" style="width: 80px;"  class="btn btn-danger btn-sm mr-2"
                                    value="Cancel" />
                            </div>
                        </div>
    
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div></mat-tab>
  </mat-tab-group>


